[2016-08-29 17:36] RichardLitt commented on #156
@diasdavid Might be easier to make a PR, and then have @whyrusleeping review the PR.

[2016-08-29 18:04] flyingzumwalt commented on #157
If we make the scheduling more stable, will that let us publish links to the hangouts/zoom calls in advance and put them in the sprint issue? @RichardLitt is there another reason why we create those links last-minute?

[2016-08-29 18:27] jbenet commented on #156
### PMing thing -- Request for people to write their mechanics down

- Please write whatever "implementations" you plan to use in this issue: https://github.com/ipfs/pm/issues/154 -- the goal is to surface them all there so we are all aware of them as we go into the mechanics.
- ATM it's missing "GH Milestones as Milestones" (@haadcode, @whyrusleeping), "GH Labels as Milestones" (@diasdavid).
- Th

[2016-08-29 18:28] RichardLitt commented on #157
Yes; I actually start them in the hangout, and IIRC there was some issue with longstanding hangouts. It's easier for me to create them on the fly; however, bunching them may also be possible, as I haven't tested this in a while.

[2016-08-29 18:35] jbenet commented on #154
-  **Github Issue as Goal:** an issue used to express a goal. It would contain the information and link to all relevant other material (goals, etc).
  - **Name / Summary**: the name is the issue title.
  - **Description**: in the text of the issue comments, starting with the first, but may be further down as goals/issues develop.
  - **Status:** the progress stage will be assigned as a Github Labe

[2016-08-29 18:36] jbenet commented on #154
- @haadcode and @whyrusleeping please write up one for "Github Milestone as Milestone" (i can do it, too, but may be better to have all your pros)
- @diasdavid please write up one for "Github Labels as Milestone" (or whatever you wanted that was different).

[2016-08-29 18:36] jbenet commented on #154
@flyingzumwalt any other mechanics pieces that you want to be clear on?

[2016-08-29 18:40] flyingzumwalt commented on #154
Thanks @jbenet milestones is the main one where I wanted clarity for now because people seem to have strong examples. I'll be kicking up issues like this one soliciting advice/opinions and PRs suggesting edits to the PM doc section-by-section as we apply the Model to go-ipfs and to ipfs/pm.

[2016-08-30 12:37] haadcode commented on #154
- **Github Milestones as Milestones:**
  - **Title**: name of the milestone
  - **Description**: description of the milestone
  - **Due date:** estimated completion date
  - **Goals:** list of goals of the milestone
  - **Progress:** shows how many goals of the milestone have been completed and how many are still open, shows percentage as well as absolute numbers
  - Pros:
    - Clear, simple

[2016-08-30 12:38] haadcode commented on #154
I did some prototyping of generating roadmaps: https://github.com/haadcode/roadmap-generator

See an example of a generated roadmap here https://github.com/haadcode/roadmap-generator/blob/master/example/ROADMAP.md#ipfs-roadmap

[2016-08-30 16:15] haadcode commented on #154
Having played around more, one note on "GH Milestones as Milestones" and "GH Labels as Milestones": they both fail to provide *one place* for all goals. You can't include a link in a document that takes you to "all goals of a milestone across all repos".

As far as I can tell, "GH Issues as Milestones" is the only mechanism that provides that (you could do it with Github's global search but that w

[2016-08-30 20:18] flyingzumwalt commented on #154
@haadcode do you think it would still be relatively easy to generate roadmaps from "GH Issues as Milestones"?  Would it be possible to make the roadmap include all the same stuff? I'm especially interested in progress indicators and Estimated Dates of Delivery.  Could one put that info in a GH Issue so that it can be parsed re-displayed in a roadmap? That seems tricky to me.

[2016-08-30 21:51] jbenet commented on #154
for the "gh issues", can parse issues similar to how the deps stuff is doing it:
- parses: `Depends on <link-to-gh-issue>`
- https://github.com/jbenet/random-ideas/issues/37
- code for api parsing is here: https://github.com/noffle/github-dependency-crawl

So could do something like:

[code]
or something. maybe see what https://www.zenhub.com/blog/working-with-epics-in-github/ tracks.

[2016-08-30 22:29] parkan commented on #156
@RichardLitt can we get an approx call time for tmw so we can plan around it?

[2016-08-30 22:47] diasdavid commented on #156
# js-ipfs Action Items from Sprint Discussion

- [ ] pull-streams endeavour
  - [ ] Create halfClosed conn upgrade
  - [ ] Fix WebSockets issues found https://github.com/libp2p/js-libp2p-swarm/pull/67#issuecomment-242099942
  - [ ] Test libp2p against go-libp2p
    - [ ] https://github.com/ipfs/js-libp2p-ipfs/issues/15
- [ ] interface-ipfs-core endeavour
  - [ ] spec out and create tests for bitsw

[2016-08-31 03:24] jbenet commented on #156
@parkan does 1p work for you guys?

[2016-08-31 11:33] haadcode commented on #154
On "GH Issues as Milestones":

Parsing (reading) the information *from* Github is trivial (albeit slightly more complex). My main concern is how to *enter* data to Github. This is the important detail I keep mentioning re. duplication of data.

If we would use "GH Issues as Milestones", one would need to:
1) create an issue called "Milestone X"
2) label it with something that indicates it's a mile

[2016-08-31 11:34] haadcode commented on #154
GH Milestones can't do cross-repo, so it's always per-repo view that you get.

`labels-and-milestones` is a tool to sync same set of labels and milestones across multiple repos, which would be needed for all of these mechanics.

[2016-08-31 15:23] parkan commented on #156
@jbenet yep!

[2016-08-31 15:25] haadcode commented on #154
Didn't get to try out "GH Issues as Milestones" with the roadmap-generator, but will do so tomorrow.

[2016-08-31 18:32] RichardLitt opened #162 "Sprint: Sept 5 → Sept 12"
# Sprint September 5th

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Endeavour         | Lead            | Time (PDT - **UTC/Z** - CEST) | Hangout | Stream | Pad
:---------------: | :-------------: | :------------

[2016-08-31 18:33] RichardLitt commented on #162
How do the above look? @whyrusleeping @diasdavid @lgierth and anyone else.

[2016-08-31 23:19] lgierth commented on #162
LGT*M* -- not sure if the others have any constraints but I figure not?

[2016-09-01 13:47] dignifiedquire commented on #146
@flyingzumwalt @RichardLitt can this be closed?

[2016-09-01 13:47] dignifiedquire commented on #151
@RichardLitt any update on this?

[2016-09-01 13:48] dignifiedquire commented on #157
@RichardLitt have you put some of this into the notes somewhere already?

[2016-09-01 13:51] #146 closed

[2016-09-01 13:52] RichardLitt commented on #151
@dignifiedquire Not yet. On my list of things to do today.

[2016-09-01 13:54] RichardLitt commented on #157
In the notes? Not yet; I've created the issue and am asking people if it is OK. See https://github.com/ipfs/pm/issues/162. Would it be better if I included this in a protocol somewhere?

[2016-09-01 14:01] dignifiedquire commented on #157
@RichardLitt I think it would make sense to add it here
- https://github.com/ipfs/pm#sprint-planning and in
- https://github.com/ipfs/pm/blob/master/admin-guides/sprint-calls-prep.md

[2016-09-01 14:02] RichardLitt commented on #157
Assigning to me. Will get to it.

[2016-09-01 15:31] flyingzumwalt commented on #162
Added agenda item: Running bibliography of papers about IPFS: ipfs/community#164

[2016-09-01 15:36] flyingzumwalt opened #164 "Clearly define Product Owner, Project Lead, and Project Manager"
Currently roles like Product Owner and Project Manager don't have definitions and it's not clear how they relate to each other.

Roles defined in the Document
- Product Owners
- Project Leads _(same as Project Captains?)_
- Project Managers
- Program Manager
- Sprint Administrator
- Sprint Master
- Discussion Leads
## Why Define these Roles

By providing these definitions we
- Allow the people in

[2016-09-01 15:39] flyingzumwalt opened #165 "Provide a clear definition of "Backlog" with guidelines for using it"
There was a fair about of discussion about the meaning of a "Backlog" in the PM pipeline and even more discussion about how to name sections within the backlog -- future work, icebox, ready, etc. I've gathered all of that info here.
## Work to be Done

Update the PM document to provide a clear definition of "backlog" with
- a clear definition of the term backlog
- something that explains why this

[2016-09-01 15:48] flyingzumwalt opened #166 "Frame Milestones as crossover point between the timeline view (Roadmap) and the pipeline view (Status Board) of your Goals"
I propose thinking of Roadmaps and Status Boards as two views onto the same set of Goals.
- Every project has a Roadmap and a Status Board
- The Roadmap is primarily concerned with projected timeline. It arranges Goals by their Milestones, which have deadlines or estimated dates of delivery.
- The Status Board is primarily concerned with the current state of work. It arranges Goals based on their

[2016-09-01 15:56] RichardLitt commented on #162
@flyingzumwalt Do you want a talk for that?

[2016-09-02 02:24] flyingzumwalt opened #167 "Add Term: Status Board"
refs #166

Currently the document doesn't mention status boards but all of our discussions about pipelines assume that you have a place to view the project's Goals within a pipeline (ie. a Waffle Board). We should define the concept so we can use it explicitly in the model.

Definition: Status Board: A view of the project's Goals that shows their statuses within the project's pipeline. This allows

[2016-09-02 02:26] flyingzumwalt opened #168 "Clarify the headings "Units of Work" and "Structures""
The PM Model document defines "Units of Work" and "Structures".
### Are these the right headings? Should we just define terms without headings?

What's the purpose of this section and these headings? Do the headings convey useful meaning that helps people use this model?
### Which of these are Artifacts? Which are just concepts or organizing principles?

The Units of work (Project, Milestone, Goal

[2016-09-02 02:34] flyingzumwalt opened #169 "Address "Definition of Ready" in the PM Document's discussion of Pipelines"
See discussion in [comments on the PR](https://github.com/ipfs/pm/pull/131/files/0fbf77efecf51695f4c9370c540e4d6727cda80d#r74628251)

Add a note that a pipeline could distinguish between goals that are "Ready" or not ready based on some "Definition of Ready" -- ie. needing to be described in a way that is clear, testable, and feasible.

[2016-09-02 02:38] flyingzumwalt commented on #166
Also see discussion in [these comments](https://github.com/ipfs/pm/pull/131/files/0fbf77efecf51695f4c9370c540e4d6727cda80d#r74653782)

* What is our trajectory?
* What are our priorities?
* When are things likely to be done?

* What's being worked on _now_?
* What's ready to be worked on _now_?
* What's been completed recently?

[2016-09-02 02:44] flyingzumwalt commented on #164
Some comments on this in the PR:
* https://github.com/ipfs/pm/pull/131/files/0fbf77efecf51695f4c9370c540e4d6727cda80d#r74582317

[2016-09-02 02:48] flyingzumwalt commented on #165
Note: [these comments](https://github.com/ipfs/pm/pull/131/files/0fbf77efecf51695f4c9370c540e4d6727cda80d#r74540072) talk about this topic at length and include one [definition of Backlog](https://github.com/ipfs/pm/pull/131/files/0fbf77efecf51695f4c9370c540e4d6727cda80d#r74737162)

The comments seem to converge on some recommended names for sections within the Backlog called either [inbox and rea

[2016-09-02 03:14] flyingzumwalt commented on #165
In our work with applying this model to go-ipfs (see [notes](https://github.com/ipfs/pm/blob/master/meeting-notes/2016-08-30-go-ipfs-pm-magic.md)) @whyrusleeping pointed out that most projects will need to communicate where each Goal lies on the spectrum shown in the table below. The specific choice of names for these statuses is changeable, but the key ideas are important.

Based on our discussio

[2016-09-02 16:15] flyingzumwalt commented on #165
I'm confused by the definition currently in the PM Doc:

By that definition, the Backlog includes Goals that are In Progress and Done as well as the Future Work, Ready, etc. This doesn't fit with the way I see the term used in the rest of the document.

[2016-09-02 20:56] flyingzumwalt commented on #165
@haadcode this ticket is ready for comments now. Based on your feedback on this I think I'll be able to rewire the Backlog and Pipeline section to be really clear.

[2016-09-02 21:05] flyingzumwalt commented on #166
@haadcode @dignifiedquire @whyrusleeping @diasdavid @jbenet @RichardLitt How does this sound to you? It feels to me like a helpful frame. If you agree, I'll rearrange the PM doc a bit to use it.

[2016-09-02 21:11] flyingzumwalt commented on #168
@haadcode do you have any advice on this? Did you have a particular intention in using the terms "Units of Work" and "Structures" when you wrote the definitions for these terms?

[2016-09-02 22:21] flyingzumwalt commented on #164
Any thoughts? @haadcode @jbenet @whyrusleeping @em-ly @RichardLitt @diasdavid @dignifiedquire

[2016-09-02 23:49] flyingzumwalt commented on #165
FYI we updated the [go-ipfs waffle board](https://waffle.io/ipfs/go-ipfs) to show the pipeline described above.

[2016-09-03 00:13] jbenet commented on #165
Quick comments:

- I would encourage to try to converge on the same names across projects. not a priority now, but over time.
  - eg, i dont care much on "future work" vs "refining" but it would be ideal not to have two words for almost the same concept.
- i would like to be very clear on "backlog" and use the word to mean only one thing. i think it will create confusion if it really means two thi

[2016-09-03 00:14] jbenet commented on #165
I think this is correct:

- in that "ready" is part of the "backlog" phase.
- or is "ready" part of "in progress"? from what i've read up to now, i would think backlog..

[2016-09-03 07:23] haadcode commented on #165
Great discussion! Assigning myself so that I remember to reply to this on Monday. WIll get back to you soon :) Quick thoughts: I think we should get rid of the "phases" part in the diagram, it's confusing. "Backlog" == everything before "in progress", "ready", "inbox" etc. being sections *within* the backlog.

[2016-09-03 07:26] haadcode commented on #165
Also, go-ipfs waffle board looking great! 👍

[2016-09-03 07:38] haadcode commented on #168
Very quick thoughts and will get back to this with more detail.

Board == artifact of a pipeline. the board can be displayed in many ways, but it should always be "a place" to look at, a url perhaps, so to me it sounds like an artifact.
Backlog == artifact (list of all goals). it could be presented as the Github Issues section, or it could be an .md file that lists all the goals.

Originally "Unit

[2016-09-03 16:18] serapath commented on #165
I'm very curious about `ipfs/pm`, because maybe other projects can copy and start using the same conventions. I don't know if it's helpful, but will people be paid for work too sometimes? Can tasks be outsourced?

I have some experience using a pipeline to collaborate with other self employed people to get work done.
After quite some projects, we currently use:
1. `backlog` - to brainstorm/plan. T

[2016-09-03 22:04] jbenet commented on #165
@serapath

(In short, i think you should not line up your labels to ours, as yours mean something different and they wont directly translate. you want a separate pipeline (one for goal progress and one for contract progress), i think. thankfully most systems allow assigning multiple labels, so you can have multiple boards going on :smile: )

I am curious to learn more about what you guys are doing

[2016-09-03 22:14] jbenet commented on #164
lots of thoughts here-- will respond when i get a chace.

[2016-09-03 22:26] flyingzumwalt commented on #165
Hi @serapath. I'm glad to hear that you're interested in re-using the model once it's stable. We are certainly thinking of it as a protocol that could be re-used and adapted across many software projects.

In answer to your question about payments for work, remember that these IPFS-related projects are all free, open source projects that are supported by unpaid community contributions. Those contr

[2016-09-04 00:22] serapath commented on #165
ok. just tried to check where to open and how to name the issue.
Maybe https://github.com/jbenet/random-ideas/issues/21 is a good place? It seems to touch the topic from a different perspective?

[2016-09-05 15:17] #156 closed

[2016-09-05 15:24] RichardLitt commented on #166
This sounds good to me.

I don't fully understand the difference between Goals and Milestones, or between Roadmap (a document?) and Status Boards. Status Boards like Waffle makes sense to me; how we were viewing Roadmaps? Above, in the comment, @diasdavid mentions "things likely to be done", "what's being worked on", "lots of stuff listed in Milestones". Are those goals?

It might be good to have

[2016-09-05 17:07] RichardLitt commented on #151
This works. This issue can be closed when we update the Process doc.

[2016-09-05 17:28] flyingzumwalt commented on #162
I had an idea of how to do asynchronous retrospectives, so we can gradually refine our meeting process without adding unnecessary time doing retrospectives on our synchronous calls (which gets really tiresome really fast). See https://github.com/protocol/notes/issues/27

[2016-09-05 17:30] flyingzumwalt opened #170 "Async Retrospectives (using 2016-09-05 Calls as example)"
I've been wondering whether we can find a graceful way to have async Retrospectives on our calls & meetings.  I like that idea because retrospectives are valuable, but they tend to eat up too much time when you do them for every single meeting and force everyone to stay in synchronous mode during that retrospective.

I propose trying out this format, using this ticket as the Retrospective for this

[2016-09-05 17:30] flyingzumwalt commented on #170
@flyingzumwalt's retrospective

## 🎉 What was Fabulous?

**:+1: Using Youtube Live **
- it works
- it saved @RichardLitt time
- it lets us post links for hangout & video on the sprint ticket  🎉

**Short, focused, concise calls**
The calls have gotten a lot shorter without losing any of the signal!

## 🤔 What could be more Fabulous?

**START ON TIME**
Start meetings promptly at the publicized start

[2016-09-05 18:56] RichardLitt commented on #170
I like this idea!

Why don't we just record retrospective notes in each sprint issue?

I don't think we'll need a time limit; whenever will work. People will naturally not post retrospectives for long-gone events.

SGTM.

### Demos

I think that the Demos should be added to the agenda, not just "can anyone demo anything?", and that that template you suggest should be added when adding it to the ag

[2016-09-05 19:07] RichardLitt commented on #162
Assigning @lgierth, @Kubuxu, and @em-ly to upload the notes they took as notetakers into `meeting-notes` as PRs.

[2016-09-05 19:12] RichardLitt commented on #170
### 🎉 What was Fabulous?

We are getting really good at having people jump in and note-take!

### 🤔 What could be more Fabulous?

If the notetakers automatically were aware that part of their job is saving the Etherpad to GitHub, by making a PR in this repo with the notes in the `meeting-notes` folder. Currently, I have to remind people to do this.

### 🆕 Possible Actions or Experiments

I could v

[2016-09-05 19:41] RichardLitt opened #174 "Sprint: Sept 12 → Sept 18"
# Sprint for September 12th

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Endeavour         | Lead            | Time (PDT - **UTC/Z** - CEST) | Hangout | Stream | Pad
:---------------: | :-------------: | :-------

[2016-09-05 19:41] RichardLitt commented on #174
Times will be locked down on Friday. Please discuss before then.

[2016-09-05 19:57] RichardLitt commented on #164
I think writing these down is smart.

### Sprint Administrator

This was removed when we overhauled the README. This is how I had it, before:

#### Sprint Administrator

The sprint administrator (normally [@RichardLitt](//github.com/RichardLitt)) is responsible for the sprint process every week.

** GitHub tasks**

- Opens a new issue for the sprint on GitHub, and posts a link to it on IRC ahead o

[2016-09-06 08:25] dignifiedquire commented on #170
### 🎉 What was Fabulous?

Short and sweet.

### 🤔 What could be more Fabulous?

- Paying more attention during the sync calls, yes I'm pointing the finger at myself here.
- Use a video chat that supports more than 10 participants
- Bring back a better role call

### 🆕 Possible Actions or Experiments

- Research and find a solution so we can stop using the limited Google Hangouts/Youtube stream. Th

[2016-09-06 08:27] dignifiedquire commented on #151
I don't think this can be marked as successful. We are still hitting the 10 participants limit which at the current size of our team is not acceptable anymore, as we know before hand that not everyone who wants to join can join.

[2016-09-06 16:48] RichardLitt commented on #151
Looks like it might be possible to live stream from Zoom to YouTube. [Article](http://ptzoptics.com/live-streaming-video-conference-youtube-live/). This might be costly, though. I think it would be worth trying; @dignifiedquire can you read this and double check with this seems smart?

[2016-09-06 17:43] dignifiedquire commented on #151
I was able to stream a zoom call directly to youtube live using

- https://obsproject.com/ and following this guide to capture desktop audio
- https://socapex.wordpress.com/2015/11/29/capturing-desktop-audio-on-el-capitan/

It worked pretty well so we can test this out on Monday :)

[2016-09-06 19:07] Kubuxu commented on #151
In future it would be best to have a server doing that automagically but it will be a bit harder.

[2016-09-06 20:56] whyrusleeping commented on #174
Agenda items for libp2p:

milestone 2:
- move connection closing to later milestone. Its not feasible currently.
- Actually discuss moving away from dht.
- Discuss progress on relay
- Outline action items for improvements to NAT traversal

[2016-09-06 21:03] flyingzumwalt commented on #135
We can write this list into the config file for @haadcode's roadmap-generator. That way we have a file in a git repo explicitly listing the repositories that we are watching. See PR #176

[2016-09-06 21:43] flyingzumwalt opened #177 "Decide what Format we're going to use for the Organization Roadmap"
The two most important sections of our next Quarterly Roadmap Update will be to
1. Review the Q3 Roadmap & Milestones
2. Define the Q4 Roadmap & Milestones

In order to prepare for this, we should decide in advance how we are going to display those Roadmaps to ourselves and our audiences.  The full details of the Org Roadmap and its structure won't be clear until we've stabilized and implemented t

[2016-09-07 14:37] RichardLitt commented on #135
Has this issue changed?

Is this you, now?

[2016-09-07 14:49] haadcode commented on #135
I believe @flyingzumwalt is responsible for the *organization's roadmap*. Project leads are still responsible for individual project roadmaps.

[2016-09-07 16:49] flyingzumwalt commented on #135
Yep. What @haadcode said. I'll update the text so the ticket remains focused on the actual task at hand - identifying which projects need to be included on the org roadmap.

[2016-09-07 18:15] #162 closed

[2016-09-08 14:47] RichardLitt commented on #174
- Review signing messages, from: https://github.com/dignifiedquire/aegir/issues/30

#### Process question

@flyingzumwalt @dignifiedquire pinged you and me on that issue; in the future, we should encourage that they just add it to the agenda, and then they don't need to rely on us to bring it here, right?

[2016-09-08 15:08] diasdavid commented on #174
@RichardLitt it is a way to inform the PMs that something needs discussed and act upon, hopefully we get into a state something can be resolved even before waiting the sprint call.

[2016-09-08 15:20] RichardLitt commented on #174
@diasdavid Sure, it is a way to inform the PMs. But I am not the PM, there, so I'm not really sure what to do with the information. Wouldn't it be better to post any agenda stuff in here, as opposed to pinging me? :)

[2016-09-09 14:51] RichardLitt commented on #174
Hmm. I noticed I used the template in the repo, which doesn't match how we've done video calls for the past two weeks.

**Proposals:**
- We move to go-ipfs, js-ipfs, and libp2p, in that order.
- We start go-ipfs at 17:00UTC instead of 17:30UTC, because we haven't needed the extra thirty minutes in the past few weeks, and this keeps the calls shorter.

I am going to make both of these two changes *

[2016-09-10 20:04] RichardLitt commented on #174
🔒 time is now closed. This is what will be happening on Monday.

[2016-09-11 23:19] nicola opened #181 "IPLD refining call 2"
IPLD stakeholders should get together to agree on [some pending refinement in IPLD](https://github.com/ipld/specs/issues?q=is%3Aissue+is%3Aopen+label%3Aneeds-agreement). These issues are not necessarily new features but restrictions that we may have to specify in the spec to make it less ambiguous.

Partecipants are expected to be informed about the different issues, they should:
- Read the differ

[2016-09-11 23:38] flyingzumwalt opened #182 "Define User, Contributor and Maintainer in PM Document"
The draft version of the PM document has two gaping holes: I doesn't define a decision making process (aka governance model) and it doesn't define a notion of Users, Contributors or Maintainers.  It's important to address these things.  Defining a governance model is going to take more time, but we should define the notions of Users, Contributors and Maintainers now, since they are the most import

[2016-09-11 23:38] RichardLitt commented on #181
Sounds good to me. Want to set up a time to talk about it on the sprint calls tomorrow? Maybe after libp2p?

[2016-09-12 00:00] jbenet commented on #181
👍 SGTM

[2016-09-12 00:06] flyingzumwalt commented on #165
I think PR #183 addresses this issue enough to close it. @haadcode please speak up if you want to keep the discussion open instead of closing it when the PR is merged.

[2016-09-12 00:17] flyingzumwalt commented on #174
Added agenda item for the all-hands: Second Draft of PM Process Document ([View the Draft](https://github.com/ipfs/pm/blob/pm-process-draft2/drafts/project-management-process.md) or the [Pull Request](https://github.com/ipfs/pm/pull/183))

[2016-09-12 00:39] nicola commented on #181
Can we make it 1:30 hours after libp2p? (that works best for me)

[2016-09-12 00:57] RichardLitt commented on #181
Might be a little late for @dignifiedquire: thoughts?

[2016-09-12 01:57] Stebalien commented on #181
I can make it whenever (thesis done). @nicola I assume you'll be in CSAIL?

[2016-09-12 03:18] jbenet commented on #181
I can only make it right after the other calls.

[2016-09-12 03:19] jbenet commented on #181
But if it doesn't work, no worries, meet w/o me

[2016-09-12 06:55] dignifiedquire commented on #181
I don't think I can make it that late I'm afraid :/ but I would be available right after the calls.

[2016-09-12 13:43] RichardLitt commented on #181
@nicola You ok with having a call right after libp2p, then? Might be good to jump on the All Hands call at noon to schedule in person with the others.

[2016-09-12 13:58] nicola commented on #181
I can make it to the All Hands, but unfortunately I can't make it to after libp2p, we can still meet in all hands to decide future timing!

[2016-09-12 16:27] parkan commented on #174
can we get a quick mediachain sync call in for the week? probably only need ~15 mins

[2016-09-12 17:22] whyrusleeping commented on #174
@parkan Yeah, we can do that. @diasdavid and I are also about two blocks from your office right now, so if you want to meet in person again that works too.

[2016-09-12 17:49] parkan commented on #174
@whyrusleeping would be down to meet for lunch, trying to msg you on freenode but the web ui is being finicky

[2016-09-12 17:51] whyrusleeping commented on #174
@parkan No worries, meeting for lunch works for me, @diasdavid thoughts?

[2016-09-12 18:10] flyingzumwalt opened #188 "(guidelines) Use "Ready" Status or "Sprint Backlog" to Show What's Ready for _this sprint_"
This came up on the js-ipfs call 09-12-2016, where we went through the issues in Milestone 2 and needed to flag some issues as "Work on it this week" or "This isn't urgent for this week. Give other things priority."

Our PM model leans towards using the "Ready" status to signify "Work on it this week" and "Backlog" status to signify "This isn't urgent for this week. Give other things priority."

S

[2016-09-12 18:23] nicola commented on #181
IPLD meeting is happening 4pm Boston/NYC time (1h30m after the libp2p meeting)

[2016-09-12 18:32] flyingzumwalt opened #189 "Create a guide with General Format for project Sprint Calls"
_This is related to the PM document, but put it in a Guide and reference the Guide from the PM document. It's also related to #188_

This is a guideline for conducting a smooth Project Sprint Call. You don't _have_ to use this format if you don't want to.

**General Format for Project Sprint Calls**

The goal is that by the end of the call the `Ready` and `In Progress` stages show all the work tha

[2016-09-12 18:33] RichardLitt commented on #181
Sweet. Neither @dignifiedquire or I will be around for that; you can record it using Zoom, or just take notes.

[2016-09-12 18:37] serapath commented on #165
It seems to be a long document. any sections i should pay special attention to? does it actually consider payment or what exactly do you mean with "addresses this issue enough"?

[2016-09-12 18:43] flyingzumwalt commented on #181
@nicola I would like to listen in, so please post info about how to join the call when you start (or can we use the same zoom link as the calls we just finished?)

[2016-09-12 18:53] flyingzumwalt commented on #165
This issue is about _providing a clear definition of "Backlog" with guidelines for using it._  If people feel that the version of the document in that PR does not achieve that goal, please speak up so we can keep this issue open.

For example, we might want to address #188 and #189 before closing this issue.

@serapath please raise the topic about payment in a separate issue, preferrably in one of

[2016-09-12 18:56] flyingzumwalt commented on #165
The main section of the draft document that deals with "Backlog" is the [Workflow section](https://github.com/ipfs/pm/blob/c13367d0cda8d9b58a0dc9ab0b77eeda349a52f8/drafts/project-management-process.md#workflow)

[2016-09-12 21:16] flyingzumwalt commented on #189
When this is ready, make sure to add a link to it in the PM document.

[2016-09-12 21:18] nicola commented on #181
hey @flyingzumwalt at the end we asked on IRC if someone wanted to join and it was just me and @Stebalien discussing through:

- code restructuring (what do we need?)
- relative paths in object and across object

We have been taking accurate notes about everything we discussed, I will be posting them soon in ipfs/pm (I am sorry that I did not check this earlier on :( )

[2016-09-12 21:37] dignifiedquire commented on #188
I don't think "ready" is the right label. It is strongly associated with read for realease/merge for me. Alternative suggestions would be "current" or "do it"

[2016-09-12 21:40] flyingzumwalt commented on #188
My memory was fuzzy. Looks like people don't use the term "ready" here. Instead they distinguish between "Product Backlog" and "Sprint Backlog".  In order for an issue to be in _either_ of those backlogs it must fit the team's [Definition of Ready](https://www.scruminc.com/definition-of-ready/)

[2016-09-12 21:45] flyingzumwalt commented on #188
I updated the title and original comment. Now it proposes making a distinction between "Product Backlog" vs. "Sprint Backlog" which would mean getting rid of the "Ready" status.

[2016-09-12 23:08] jbenet commented on #174
@flyingzumwalt how did we want to gather feedback/retrospective for sprints? (i remember an issue about fantastic, but i'm not finding it)

[2016-09-12 23:09] flyingzumwalt commented on #174
@jbenet I outlined the idea here: https://github.com/ipfs/pm/issues/170

[2016-09-13 11:21] haadcode commented on #188
I think the separation was what we tried to achieve with "Backlog" vs. "Ready". Calling them "Product Backlog" and "Sprint Backlog" is a fairly common way.

I always found it easiest to call the to "Backlog" and "TODO" where "TODO" is the currently-planned-to-be-worked-on-goals.

However, I would again encourage to *NOT* use the term Sprint. We don't really do sprints (and imo shouldn't).

[2016-09-13 15:29] dignifiedquire commented on #188
Sorry but "Product Backlog" and "Sprint Backlog" is even more confusing to me :/ I also want to point out that idea was that these are not in a new column, simply a way of highlighting tasks that are worked on in this week, without moving them away from their contextual milestone.

[2016-09-13 16:35] haadcode commented on #188
Sigh... I've tried to say this multiple times, but I'll try again.

If we didn't use the stages in Waffle as backlog sections, this wouldn't be a problem. Instead, you would have a view that is able to tell you the status of each goal.

This is exactly what the status board would tell you if you'd set it up like go-ipfs and Orbit do. You lose nothing and you can still view goals per-milestone (fil

[2016-09-13 19:17] Stebalien commented on #181
# Terminology

* Block - a chunk of raw data
* Object - an IPLD object
* Node - a node in the "graph" encoded in an IPLD object.
* Graph - a DAG of IPLD objects.
* Canonicalize: Apply some function `f` to a path such that `f(path1) == f(path2)` for all `path1` and `path2` if and only if they point to the same object.

# Resolutions

## Cycles

Do we let relative links introduce cycles?

### Conclu

[2016-09-13 19:53] dignifiedquire commented on #188
@haadcode but again you are mentioning different views, i.e. two different set of filters activated. But I want something where I can see both things at the same time.

[2016-09-13 19:59] Stebalien commented on #181
# Application Level Cycles

There are (at least) two ways to do application level cycles.

## Adjacency List

Distribute a supplementary adjacency list to overlay the object. That is, one can write:

[code]

## Twin-Node

Use two nodes instead of one — one for out-links, one for in-links — and construct the logical graph at the application level. That is, given a graph such as:

![Input](https://c

[2016-09-13 20:08] diasdavid opened #192 "todogroup.org - resources for open source management"
Discovered today through @jlipps [tweet](https://twitter.com/jlipps/status/775778873766055936) that an organization  currently exists to explore, collaborate and share best practices and tools to manage open source projects in the open. I feel that this comes timely, as we are improving our management ourselves :)

The todogroup members are currently in a quartely meeting, will use this issue to t

[2016-09-14 00:37] flyingzumwalt opened #193 "Establish Guidelines for Project Management Mechanics"
We shelved the discussion about _mechanics_ of project management while we ironed out the PM _model_ (Artifacts, Workflow, Roles, Cadence). As that model settles, we need to work towards documenting general guidelines for applying that model in your projects. I'm not sure if this should be tracked as a Goal or a Milestone. For now, I'm just creating this Issue as a placeholder.

[2016-09-14 04:03] flyingzumwalt opened #194 "Check Out OSS Trackers for the IPFS Organization"
This list is from an [article on OSS management tools](http://todogroup.org/blog/open-source-program-management-tools/) by Todo group that talks about the importance of tracking the health & traction of your OSS projects.

Some (or all) of these are aimed at letting big orgs track the health and community engagement of dozens or hundreds of OSS projects. They might not be useful for us, but they'r

[2016-09-14 10:06] dignifiedquire commented on #194
I just ran and tested Gander, which was a pretty big let down :(

See attached screenshot for all it seems to do

![screen shot 2016-09-14 at 12 05 40](https://cloud.githubusercontent.com/assets/790842/18508231/a6122d62-7a73-11e6-8bd3-f84dd1fde3b3.png)

[2016-09-14 19:21] nicola commented on #181
@Stebalien thanks for writing this down! By tonight I should be able to add other notes (if there are any)

[2016-09-15 14:41] RichardLitt opened #195 "Sprint: Sept 19 → Sept 25"
# Sprint September 19th

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Endeavour      | Lead            | Time (PDT - **UTC/Z** - CEST) | Zoom     | Stream     | Pad
:------------: | :-------------: | :------------

[2016-09-16 16:10] RichardLitt commented on #182
I would add that a contributor can be someone who contributes to a discussion, as well. A lot of great contributions never make it into the code directly with someone's name, as they may just be commenting on the GitHub issue.

We also need to define User.

[2016-09-17 08:15] RichardLitt commented on #195
Locked. @whyrusleeping, @diasdavid, @haadcode, and @jbenet are going to be at DevCon 2 in Shanghai and unlikely to attend, but the meetings will still be happening.

[2016-09-19 03:52] nicola commented on #181
Created a PR with the notes from the meeting https://github.com/ipfs/pm/issues/196

[2016-09-19 03:52] #181 closed

[2016-09-19 03:53] nicola opened #197 "IPLD refining call 3"
IPLD stakeholders should get together to agree on [some pending refinement in IPLD](https://github.com/ipld/specs/issues?q=is%3Aissue+is%3Aopen+label%3Aneeds-agreement). These issues are not necessarily new features but restrictions that we may have to specify in the spec to make it less ambiguous.

Partecipants are expected to be informed about the different issues, they should:
- Read the differ

[2016-09-19 03:57] nicola commented on #195
I know that is locked, if we could squeeze this in https://github.com/ipfs/pm/issues/197 after libp2p would be great! (also, can we allocate recurring time for IPLD for future coming weeks?)

[2016-09-19 15:50] RichardLitt commented on #195
@nicola See #198.

[2016-09-23 20:16] RichardLitt opened #201 "Sprint: Sept 26 → Oct 2"
# Sprint Sept 26

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Endeavour      | Lead            | Time (PDT - **UTC/Z** - CEST) | Zoom     | Stream     | Pad
:------------: | :-------------: | :-------------------

[2016-09-23 20:16] RichardLitt commented on #201
@nicola Added IPLD at the same time as last week; is that ok? Let me know by Saturday, if you could!

[2016-09-23 20:52] nicola commented on #201
works!

[2016-09-25 21:03] flyingzumwalt commented on #201
Added an agenda item: T-shirts for Hydra Connect and for future conferences

[2016-09-25 21:07] flyingzumwalt opened #202 "Proposal: Dedicate 03-Oct and 10-Oct community calls to Roadmap Discussions"
The project leads will be together in-person on the week of 10/10 to talk about the Q4 Roadmaps. To prepare for this, @em-ly and I came up with the idea of dedicating the 10/3 community calls and also the 10/10 calls to discussing Roadmaps with the community.  We should announce these in advance and push for active community members to participate.

10/3 Focus on Reviewing the Q3 Roadmaps
10/10 Fo

[2016-09-25 21:08] flyingzumwalt commented on #201
Added agenda item: Proposal: Dedicate 10/3 and 10/10 community calls to Roadmap Discussions https://github.com/ipfs/pm/issues/202

[2016-09-26 15:53] #195 closed

[2016-09-26 17:50] flyingzumwalt opened #204 "Finish applying 'backlog' label to go-ipfs 'help wanted' issues"
On today's call, we decided to add the `backlog` label to all of the tickets that are marked `help wanted` so that we can make waffle display them all in the backlog column.  -- once we're done with this move, we will move some of those items from the `backlog` to `ready`, but in the meantime, it lets us clean up the `ready` and `in progress` columns.

I did this label-juggling for all the go-ipfs

[2016-09-26 18:54] nicola commented on #197
Added notes here https://github.com/ipfs/pm/pull/207

I will close this once I create TODOs in new issues under IPLD

[2016-09-26 22:34] nicola commented on #197
done https://github.com/ipld/specs/issues/24

[2016-09-26 22:34] #197 closed

[2016-09-27 05:06] flyingzumwalt opened #209 "Background Reading on Open Governance Models"
Over the coming weeks I want to talk about laying the groundwork for gradually and smoothly transition to an even more open, democratic governance model. This is something that deserves careful consideration and there's real benefit to starting the conversation early so that we have a lot of time to do the personal and organizational footwork that builds healthy patterns of communication, roles, r

[2016-09-27 13:14] #151 closed

[2016-09-27 19:15] RichardLitt commented on #202
If we decide to do this, we can do a few things to make sure that the community is on board:

- [ ] Write up a blogpost. I have a draft here:  https://github.com/ipfs/blog/pull/75
- [ ] Post in the issues on ipfs/ipfs (_I don't think this is necessary_)
- [ ] Post in the Sprint issue before hand (and I should create the before hand)
- [ ] Tweet about it. We have Buffer, we can schedule tweets ever

[2016-09-27 20:34] em-ly commented on #202
Thanks for putting that list together @RichardLitt! I think we should do all of them - I dont know if we have a good sense of which of our communication channels are most effective, so I think we need to post this information wherever possible. Posting to ipfs/ipfs might catch others who aren't paying attention to other channels, so let's make sure something gets listed there.

[2016-09-28 16:09] RichardLitt opened #210 "Sprint: Oct 3 → Oct 10"
# Sprint October 3rd

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call.

Endeavour

[2016-09-29 16:33] RichardLitt commented on #210
Add a call for Orbit. How about at 18:30, and we can move IPLD an hour later?

[2016-09-29 16:34] dignifiedquire commented on #210
Why do we need to move IPLD an hour? We only need 30min?

[2016-09-29 16:34] RichardLitt commented on #210
Ah, sorry, yes. 30 minutes later.

[2016-09-29 17:09] haadcode commented on #210
Yeah 18:30 is fine

[2016-09-29 18:03] RichardLitt commented on #210
Done!

[2016-09-29 19:09] flyingzumwalt commented on #202
@whyrusleeping @diasdavid I should have been more thorough about making sure this got onto your radar while you were traveling. Also, I guess I've been in a time warp. I thought I posted it over a week ago. Actually it was only 4 days.

[2016-10-03 15:16] #201 closed

[2016-10-05 16:31] RichardLitt commented on #202
@flyingzumwalt Can we announce next week's talks on the blog? And elsewhere?

[2016-10-05 16:32] flyingzumwalt commented on #202
Yes please. I guess the blog post we wrote last week needs to be rewritten because it didn't go out before 03-Oct

[2016-10-06 18:56] flyingzumwalt commented on #209
Project Leads, please read these materials before team week. They're very short.
- [ ] @jbenet
- [ ] @haadcode
- [ ] @diasdavid
- [ ] @whyrusleeping
- [ ] @dignifiedquire

[2016-10-06 19:14] dignifiedquire commented on #209
Got the text on my kindle, will read on the plane

[2016-10-07 12:53] RichardLitt opened #217 "Sprint: Oct 10 → Oct 17"
# Sprint October 10

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call.

Endeavour

[2016-10-07 12:55] RichardLitt commented on #217
We will be discussing the Q4 Roadmaps during this sprint.

From [the blog](https://ipfs.io/blog/20-q4-roadmap/):

Our next weekly call will be focused on roadmaps. We will be planning our roadmaps for the rest of 2016. _You're invited to join in!_ We want to make sure the community is heard and involved as much as possible.

If you're interested in seeing the progress we've made with IPFS over the

[2016-10-07 15:32] RichardLitt commented on #202
Posted everywhere but the newsletter. I am not sure it should go out there, as I am unsure on the audience for the newsletter, and how this would look after so long without a newsletter, in general. I think the developers who would be interested in joining would have seen the notice on the blog, twitter, in the PM announcement, in the IPFS Newsletter thread.

@flyingzumwalt What do you think?

[2016-10-07 17:54] parkan commented on #217
Hey gang, would love to squeeze in a mini-call again next week if possible. We're moving forward rapidly and hitting lots of new corners 😄

Topics, roughly in order of importance:

- **go-datastore:** we're looking at both writing to the datastore directly from [concat](https://github.com/mediachain/concat), and possibly implementing an alternate backing store under the interface to support our op

[2016-10-07 18:19] dignifiedquire commented on #217
Hey @parkan this sounds great but please make sure to check out and base your work on https://github.com/libp2p/js-libp2p-crypto/pull/12 as this will be merged very soon.

[2016-10-07 19:44] parkan commented on #217
@dignifiedquire thanks for the heads up, that's an important set of changes 😄

[2016-10-07 20:25] flyingzumwalt commented on #217
@parkan could you bring these things up on the js-ipfs and go-ipfs calls on Monday? We'll be [discussing the Q4 roadmaps](https://ipfs.io/blog/20-q4-roadmap/), so it's a perfect time to bring up topics like these.

Regarding an IPLD update, FYI we might push the IPLD call to Wednesday or Thursday instead of doing it at the time listed above.

[2016-10-07 22:30] kevina commented on #217
I would very much like to see ipfs/go-ipfs#2634 get merged and also think my multi-blockstore idea/implementation, ipfs/go-ipfs#3257, could be very useful going forward.  I am going to try and participate in at least one of these calls (likely go-ipfs, maybe the all hands).  I _might_ be able to give a quick demo if others would be interested.  @whyrusleeping (and others) please advice.

[2016-10-07 22:32] parkan commented on #217
@flyingzumwalt Monday is a holiday here so I think relevant parties may be afk; most of the discussion can wait until a bit later (weds should be good)

[2016-10-07 23:04] flyingzumwalt commented on #217
@parkan that's right! I forgot about Indigenous People's Day. The Protocol
Labs people will be tied up in meetings all week. We will try to punch a
hole in the schedule for a call but might not have an opening until next
Monday (17-Oct).
On Fri, Oct 7, 2016 at 6:32 PM Arkadiy Kukarkin <notifications@github.com>
wrote:

[2016-10-08 05:48] haadcode commented on #217
Orbit call is missing from the schedule.

[2016-10-08 13:04] flyingzumwalt commented on #217
@haadcode @RichardLitt I spoke with @nicola about this - please put orbit
in the IPLD slot this week. We will do the IPLD call on Wednesday. In
future weeks, IPLD will be after orbit (like last week) unless we decide to
cap the length of the Monday calls, in which case the IPLD call will
probably move to another day of the week.
On Sat, Oct 8, 2016 at 1:48 AM Haad <notifications@github.com> wrote:

[2016-10-09 21:34] nicola commented on #217
So no monday call on IPLD?

[2016-10-09 22:03] RichardLitt commented on #217
Added Orbit calls.

[2016-10-09 22:35] diasdavid commented on #217
@RichardLitt can we bump Orbit up? Due to my recent travel incident, I'm afraid I might not be able to make it on time to the js-ipfs call as it is scheduled right now.

Hope that doesn't cause a conflict with others people schedules, I've had the misfortune of not making my flight due to a flight delay.

[2016-10-09 22:42] RichardLitt commented on #217
I have no problem with bumping it up.

[2016-10-09 22:49] RichardLitt commented on #217
I have no problem with bumping it up. Will you be able to make the js-ipfs call if it is half an hour later, though?

[2016-10-09 22:49] diasdavid commented on #209
I was just listening to the RFC podcast with Karl Fogel, the author of POSS, I recommend you also to listen to it:

- https://changelog.com/rfc-1/
- https://changelog.com/rfc-2/

[2016-10-09 23:00] diasdavid commented on #217
I believe so, it gives me 70 minutes to go from Airport to the Hotel (http://www.worldtimebuddy.com/?qm=1&lid=100,6167865&h=100&date=2016-10-9&sln=18-19)

I would appreciate some directions for when I get to the Hotel, to rush to the room where the good wifi is :)

[2016-10-10 14:42] RichardLitt commented on #217
Moved orbit up. :)

[2016-10-10 14:44] flyingzumwalt commented on #217
@nicola yes. sorry for the confusion. We're moving the IPLD call to Wednesday so you can lead it after you've arrived here at Protocol Labs.

[2016-10-10 16:14] RichardLitt commented on #217
We cannot stream today, due to a lack of equipment for this. Please join the calls and turn off your video and audio if you would like to follow along live. We will be recording the calls after.

[2016-10-10 16:49] RichardLitt commented on #217
We now have a stream! https://beam.pro/Kubuxu

[2016-10-10 18:16] #210 closed

[2016-10-10 18:34] #157 closed

[2016-10-11 04:13] flyingzumwalt commented on #217
@nicola I'd like to schedule this week's IPLD call at 18:00Z (2pm EST). Thank you for letting us bump it from the normal Monday slot. Does Wednesday at 18:00Z work for you? Does it work for Steven?

Is there anyone else who wants to participate in this week's IPLD call, which will focus on IPLD Q4 Roadmap?

[2016-10-12 08:52] nicola commented on #217
@stebalien, @mildred tell us when you can make it, any time works for me

[2016-10-12 18:02] Stebalien commented on #217
Sorry, I'm in PDT and busy till 12pm (PDT). Does 19:00Z (3pm EDT) work?

[2016-10-12 18:03] Stebalien commented on #217
I can probably participate asynchronously (over chat) now if you want but I won't be paying much attention.

[2016-10-14 23:18] lgierth commented on #217
@RichardLitt sprint issue for next week

[2016-10-16 21:15] RichardLitt opened #223 "Sprint: Oct 17 → Oct 23"
# Sprint October 17

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call.

Endeavour

[2016-10-17 06:58] haadcode commented on #223
@RichardLitt  nope, not this week. I will also the next two weekly calls. After that, we should bring back apps (not just orbit) to our regular schedule.

[2016-10-17 14:51] RichardLitt commented on #223
Sounds good.

[2016-10-17 14:52] #217 closed

[2016-10-17 14:57] diasdavid commented on #223
@whyrusleeping won't be able to make it today, we won't have a go-ipfs chat today:

https://botbot.me/freenode/ipfs/2016-10-17/?msg=74956150&page=6

[2016-10-17 14:58] RichardLitt commented on #223
I have moved js-ipfs and the following calls up half an hour. :)

[2016-10-17 15:57] RichardLitt commented on #223
Audio link for stream coming; I can't edit it (computer is dying), but it will be dropped in here.

[2016-10-17 15:58] Kubuxu commented on #223
The link for the stream is: https://beam.pro/Kubuxu

[2016-10-17 16:46] flyingzumwalt opened #224 "Enter all Q4 Milestones into Github"
The Protocol Labs people did an extensive hands-on roadmapping exercise with milestones written on index cards. Now we've got to dump all those milestones into github.  On the all-hands call we decided to break these up per-project. When you have finished inputting your project's milestones, please check the box here.

_Note: this whole data-input step is a bit of a time sink. For future roadmap p

[2016-10-17 16:47] flyingzumwalt commented on #223
Separate issue for tracking the work of Milestone/Roadmap data-entry: https://github.com/ipfs/pm/issues/224

[2016-10-17 16:47] Kubuxu commented on #224
I can handover cluster to @hasjuan

[2016-10-17 16:57] nicola commented on #223
@RichardLitt No IPLD meeting today (or at least I will not be able to make it)

[2016-10-17 17:17] flyingzumwalt opened #225 "Call: Project Management Process"
This call will cover a handful of topics around establishing a common Project Management process.  We will also touch on the much bigger topic of choosing a Governance Model for our projects.

| Goal/Objective | Activity | Duration |
| --- | --- | --- |
| Review the [Second Draft of project management process doc](https://github.com/ipfs/pm/pull/183) | Review Document & Discuss | 15 minutes |
| Di

[2016-10-17 17:20] flyingzumwalt commented on #225
Doodle poll for picking a time to conduct this call: http://doodle.com/poll/gmv8k4ukxei2xewr

Anyone is welcome to join this call. If you want to participate, please share your availability on the doodle poll and we will try to find a time that works for everyone. We definitely need to have @diasdavid @whyrusleeping, @flyingzumwalt and @haadcode on the call, so their availability will get higher p

[2016-10-17 17:30] flyingzumwalt opened #226 "PM Process Implemented Across All Projects"
This milestone will be done when all major IPFS-related Projects are using the Project Management model described in https://github.com/ipfs/pm/blob/master/drafts/Project%20Management%20Process.md

[2016-10-17 17:32] #226 closed

[2016-10-17 17:34] flyingzumwalt commented on #224
PM/Decision Making/Governance Milestones: https://github.com/ipfs/pm/milestones

[2016-10-17 18:22] RichardLitt commented on #223
Ok, thank you! Looks like short calls today. :)

[2016-10-18 09:22] hsanjuan opened #227 "Align HTTP APIs and the documentation"
We are going to take js-ipfs current HTTP API definition as source of truth.

I will go through all endpoints and check that they are aligned in go-ipfs, otherwise submit issues for inconsistencies.

The apiary docs need to reflect js-ipfs http API as well, to the point that it is possible to autogenerate tests from them.

Actionable items:
- [ ] Submit issues to go-ipfs about missaligned endpoint

[2016-10-18 09:51] hsanjuan opened #228 "IPFS Cluster Specs"
Several cards grouped here for simplicity:
- [ ] IPFS Cluster rollback spec (Wk 9, Dec 12th)
- [x] IPFS Cluster API (internode) (Wk. 10, Dec 19th)
- [x] IPFS Cluster Behaviour spec (Wk. 10, Dec 19th)

Mostly concerning @whyrusleeping @hsanjuan @jbenet

[2016-10-18 13:37] Kubuxu commented on #224
I have to talk with @whyrusleeping how he wants to structure the goals so for now I am posting them here:
### go-ipfs:

- Week 02 (2016-10-24): Ship IPLD in go-ipfs, @whyrusleeping
- Week 04 (2016-11-07): Sharding, @whyrusleeping
- Week 04 (2016-11-07): Metrics lib consistency, @Kubuxu
- Week 04 (2016-11-07): Add helptext to all commands [go-ipfs#2648](https://github.com/ipfs/go-ipfs/pull/2648) @R

[2016-10-18 14:01] haadcode commented on #225
I can't make it next week, but don't let that hold you from having it. Can you record it so I can watch it afterwards and catch up?

[2016-10-18 15:04] flyingzumwalt commented on #202
We did this.

[2016-10-18 15:04] #202 closed

[2016-10-18 16:15] VictorBjelkholm commented on #224
Infrastructure miletones + issues setup here: https://github.com/ipfs/infrastructure/milestones

[2016-10-19 06:40] hsanjuan commented on #228
Related content:

- IPFSCluster illustrations (readme): https://github.com/ipfs/ipfs-cluster/blob/master/README.md
- Repo breakdown and some tasks: https://github.com/ipfs/ipfs-cluster/issues/2
- Meeting notes with overall descriptions https://github.com/ipfs/ipfs-cluster/issues/1
- Meeting notes where some tasks were allocated https://github.com/ipfs/ipfs-cluster/issues/4

[2016-10-19 08:38] haadcode commented on #224
Updated Orbit's [ROADMAP](https://github.com/haadcode/orbit/blob/master/ROADMAP.md). I haven't created and assigned all the goals to the milestones yet but will do so asap.

In the process, I added the roadmap-generator tool to Orbit's repo, take a look [here](https://github.com/haadcode/orbit/tree/master/tools/roadmap-generator) if you want to include it in your project in a similar way.

For tho

[2016-10-19 15:17] RichardLitt commented on #224
Project repos: https://github.com/ipfs/project-repos/milestones
Standard-Readme: https://github.com/RichardLitt/standard-readme/milestones?with_issues=no

A lot of my tasks were more tasks, or aren't tracked directly by themselves - for instance, events and docs. There is only one real milestone for standard-readme, at the moment, although I could easily fabricate more. For now, I've logged it the

[2016-10-19 19:06] RichardLitt opened #229 "Sprint: Oct 24 → Oct 30"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped into the Freenode channel #ipfs on IRC, at the start of each call.

[2016-10-19 19:34] RichardLitt opened #230 "Host our own Etherpad instance"
Each week, I create the sprint issue, and manually create Etherpads by opening links in the issue, and then copying in and editing the template for these notes manually. This takes time, and it could all hypothetically be automated.

To automate this process so that we can do it in one click each week, removing the onus on me to do it, we should run our own Etherpad instance and allow API usage. T

[2016-10-20 07:52] flyingzumwalt commented on #230
👍

[2016-10-20 17:26] #174 closed

[2016-10-21 12:32] lgierth opened #231 "Switch of Daylight Saving Time"
CEST (Central European Summer Time) will end in 9 days (last day of October), and other DSTs will end in the next few weeks too. We'll have to adjust times of sprint all hands and hangouts again, and this time we'll finally do it planned, smoothly, and in a way that we can just replicate in ~6 months. The last times we didn't pay attention and had to adjust adhoc.

Options:
- Stick with starting a

[2016-10-22 15:02] RichardLitt commented on #231
👍 to this entire issue.

I think we should stick with 4pm UTC until after all of the other DSTs have changed. We can check in in November to make sure that this time still works for everyone. Being very clear and reminding everyone that the time zone will still be UTC should be fine, I think. DSTs do change at different times - PST changes to PDT (and EST to EDT) on November 6th, while Britain wil

[2016-10-24 13:31] hsanjuan commented on #231
Related: if time for meetings remains  UTC-based, we probably need to update some calendars (community etc), as I think the events there are defined in some US timezone and they will shift to the wrong time for everyone. Protip: When UTC cannot be set directly, it is good to know that Iceland/Reykjavik timezone matches UTC all year long.

[2016-10-24 14:56] nicola commented on #229
No much to discuss on Specs & IPLD, very likely all the IPLD implementation updates will be in js-ipfs (correct me @diasdavid )

[2016-10-24 15:01] diasdavid commented on #229
@RichardLitt all the zoom links are pointing to this issue instead of the actual ZOom link

[2016-10-24 15:03] RichardLitt commented on #231
I updated the sprint events in the IPFS to be on Reykjavík time. Good thinking, @hsanjuan. I'll add a note that we use Reykjavík time in the README, I don't see it being there at the moment.

[2016-10-24 15:08] RichardLitt commented on #229
@diasdavid Yes; I leave the link empty until before the call. I've updated it now. I'll change the template to make this more clear.

[2016-10-24 18:11] em-ly opened #234 "Sprint Helper bot"
The sprint format and announcement process is extremely repetitive, which I think makes it an ideal candidate to be handed over to our ~~future overlords~~ bots.
- Zoom meetings can be set to be reoccurring, so the same link can be used each week
- We can probably find a way to auto generate note pads with the same hash/date/title format
- Meeting times are set and rarely change
- The only variabl

[2016-10-25 14:19] dignifiedquire commented on #224
@flyingzumwalt @em-ly any thoughts on where to put this roadmap?

[2016-10-25 17:33] em-ly commented on #234
@RichardLitt given that you're our current "bot" for this, can you flesh out what else is missing in this process from my (very brief) outline above? What all needs to be taken into consideration to do this?

[2016-10-25 18:49] em-ly commented on #234
related: https://github.com/ipfs/pm/issues/230

[2016-10-26 14:43] VictorBjelkholm commented on #224
**Websites**
IPLD: https://github.com/ipld/website/milestone/1
Multiformats: https://github.com/multiformats/website/milestone/1
Libp2p: (hidden within a PR currently) https://github.com/libp2p/libp2p/pull/8

[2016-10-26 16:12] #223 closed

[2016-10-26 16:18] RichardLitt opened #236 "Sprint: Oct 31 → Nov 6"
# Halloween Sprint

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link b

[2016-10-27 20:47] parkan commented on #236
Hi @RichardLitt, we have a few follow-up things to discuss in the wake of our [1.0 launch](https://blog.mediachain.io/mediachain-v1-0-be2b8fa2153) -- let me know if we can squeeze any of these in 😄

* mediachain prefix for multiaddr -- should I just PR against https://github.com/multiformats/multiaddr/blob/master/protocols.csv? Should it be `mc/$peerId` or `secIo/$peerId/mc`? (would prefer the for

[2016-10-27 21:16] flyingzumwalt opened #237 "Set up labels-and-milestones for ipfs projects"
Set up [labels-and-milestones](https://github.com/haadcode/labels-and-milestones) for ipfs projects.

Start with js-ipfs so @diasdavid can see if it addresses his needs.

@haadcode is already using this tool to sync milestones and labels across all orbit-related repositories.

[2016-10-27 21:23] flyingzumwalt commented on #237
The documented way to use this tool is to fork the whole repo, write a yml file in the repo with your repository and milestone info in it, and then run the tool from within the repo.

You run it with commands like this:

`$ npm run lint js-ipfs.yml`
`$ npm run sync js-ipfs.yml`

I've forked the tool [here](https://github.com/flyingzumwalt/labels-and-milestones) and added a [js-ipfs.yml](https://gi

[2016-10-27 21:27] kevina commented on #236
If all you are interested in is storing blocks I would look at [ipfs/go-ds-flatfs](https://github.com/ipfs/go-ds-flatfs).  In particular you don't really need to worry about implementing the query method properly, just do what is done in flatfs (and what I do in the filestore).

[2016-10-27 21:27] flyingzumwalt commented on #237
If we decide to adopt the tool, we should pull the code into a repo within the ipfs org so everyone can add/edit YAML files for their projects and run them. We should even be able to make the tool run automatically on CI whenever someone pushes changes to their YAML file.

I might have to set this aside until next week. Priority is to get all the roadmaps into Github. @diasdavid has already done t

[2016-10-27 23:11] parkan commented on #236
@kevina can you walk me through the semantics of `Query`? I'm having a bit of trouble figuring out what the intended behavior is and how it's used.

[2016-10-27 23:12] parkan commented on #236
@kevina ok apparently it's been a long day because I did not register the second part of your comment at all! My question still stands -- I'm concerned in part because in our case rocksdb is specifically tuned for point lookups and *not* scans.

[2016-10-27 23:22] whyrusleeping commented on #236
Hey @arkadiy, if you want to we can have a video chat soon (maybe
tomorrow?) And discuss things :)

On Thu, Oct 27, 2016, 16:12 Arkadiy Kukarkin <notifications@github.com>
wrote:

[2016-10-27 23:31] kevina commented on #236
@parkan all that is really needed to some how be able to get all the keys, maybe @whyrusleeping can help you, I might be able to, but let's take this off line, ping me on IRC or just email me at k@kevina.org.

[2016-10-27 23:52] flyingzumwalt commented on #224
@hsanjuan are all of the ipfs-cluster milestones in Github?

@RichardLitt I think there were Blog milestones to enter. Can you check and enter them if there are any?

[2016-10-28 10:49] hsanjuan commented on #224
@flyingzumwalt some are, will take care of the rest asap.

[2016-10-28 21:52] parkan commented on #236
@whyrusleeping down to chat, sorry saw this too late to chat today -- how about early next week?

[2016-10-29 14:24] RichardLitt commented on #236
Hey @parkan, sorry for the delay!

I would open an issue on multiaddr for this; I don't know the answer to your second question, but we should be able to discuss it there. Regarding your other questions, I think @whyrusleeping is probably the best person to help.

Might be best to add these notes to the agenda for Monday's All hands, and we can cover how to follow up with them there?

[2016-10-29 14:31] RichardLitt commented on #224
I just found these:

## Week 2, Oct 24
- Create editorial board

## Week 5, Nov 14
- Website presentation redesign

We don't have a lead for these, and the priorities will likely change in the coming week for blog milestones. I am going to belay adding them to ipfs/blog for now.

[2016-10-30 11:59] diasdavid commented on #236
What are you trying to achieve with a mediachain multiaddr? Is there a mediachain specific transport? Shouldn't that be a Protocol that gets Stream Muxed with multistream?

[2016-10-31 01:46] flyingzumwalt commented on #236
@RichardLitt @haadcode didn't we decide that, starting this week, we would be adding a call for orbit and general distributed apps work?  I remember a conversation about adding that to the default template.

[2016-10-31 06:18] haadcode commented on #236
@flyingzumwalt I won't be back until tomorrow and won't be able to attend nor lead the app meeting this week, so the original plan was to start it next week. However, I don't see why we couldn't start it this week if someone else can lead it.

[2016-10-31 16:05] parkan commented on #236
@diasdavid those seem like good semantics too -- where should I take this discussion?

[2016-10-31 16:40] flyingzumwalt opened #238 "Clarify conventions about when it's ok to Merge a PR and when to remove "needs review""
This came up in the sprint discussion for https://github.com/ipfs/pm/issues/236

[2016-10-31 17:08] flyingzumwalt commented on #238
For example, the ASF has a very clearly defined voting process: http://www.apache.org/foundation/voting.html

[2016-10-31 23:46] RichardLitt commented on #238
I believe we talked about this around 8 months ago, but after five minutes of searching, I was unable to find that reference, however. The closes I got is this issue about using RFM labels, https://github.com/ipfs/go-ipfs/issues/1894. This does mention that we should have clear guidelines on when to remove the label.

This should be more clearly written out in the Contribution Guide in ipfs/commun

[2016-11-01 12:31] RichardLitt commented on #236
@parkan github.com/multiformats/multiaddr would be fine. :)

[2016-11-01 16:12] nicola commented on #124
(should have been closed then!)

[2016-11-01 16:12] #124 closed

[2016-11-02 22:11] flyingzumwalt opened #244 "Calls to review PM Model and Ratify PM Model"
The PM Roadmap aims to
1. **Ratify** a PM model by 11 November [Milestone 1](https://github.com/ipfs/pm/milestone/1)
2. **Implement** that model across all projects by 16 December - [Milestone 4](https://github.com/ipfs/pm/milestone/4)

Let's schedule a call to discuss/refine the model and then a call to ratify the final draft.

Proposed Call Times:

_Make sure to read the [Second Draft of project

[2016-11-03 05:57] em-ly commented on #244
15:00 UTC on Tuesday and Thursday works for me!

[2016-11-03 09:24] haadcode commented on #244
I can do Tuesday but not Thursday.

Do we need two calls? Is there something we can do async? I'm all for pushing forwards with this but I'm hesitant to schedule more calls.

[2016-11-03 15:26] flyingzumwalt commented on #244
The first will is basically be the PM Process discussion that was supposed to happen at Team Week. That will certainly kick up edits that need to happen in the PM Document. Once I've applied those edits, we will almost certainly need to have another discussion to make sure we're all on the right page in order to actually ratify it.

Now that I think of it, I won't be able to turn around the edits

[2016-11-03 17:11] RichardLitt opened #246 "Sprint: Nov 7 -> Nov 13"
# Sprint November 7th

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the lin

[2016-11-03 17:13] RichardLitt commented on #246
Note!
- The times have changed due to daylight savings. Be sure the times work for you. If they don't, post here!
- Apps on IPFS is now also a call. @nicola Should this replace IPLD? You don't need one of those right now, right? @haadcode that time work for you? It's as early as I could make it.
- I won't be here this next Monday. But the calls should, of course, go on. :)

[2016-11-06 14:28] nicola commented on #246
Are we making IPLD on Monday or on Friday?

[2016-11-06 19:40] flyingzumwalt commented on #246
@nicola it's your call. Last week people seemed to strongly favor removing IPLD from the Monday lineup so we don't have a meeting that starts at 20:00Z

[2016-11-06 19:54] flyingzumwalt commented on #244
Apologies. I forgot about Daylight Savings. @whyrusleeping is not available until 8am PST, which is now 16:00Z, not 15:00Z. I'm going to send out an iCal invite for Tuesday 16:00Z. Is that time a no-go for any project leads? @whyrusleeping @diasdavid @haadcode @em-ly

[2016-11-07 13:35] nicola commented on #246
Same with me, let's try to set it up then for this coming Friday

[2016-11-07 14:43] dignifiedquire commented on #246
@nicola removed it from the issue

[2016-11-07 15:56] diasdavid commented on #246
@nicola sounds good to me :)

[2016-11-08 11:55] #229 closed

[2016-11-08 11:55] #236 closed

[2016-11-08 11:57] diasdavid commented on #228
@hsanjuan could you make this part of a ROADMAP.md on [ipfs-cluster repo](https://github.com/ipfs/ipfs-cluster)? Also, we should have at least 5 minutes on go-ipfs Monday call reserved for this.

[2016-11-08 11:59] diasdavid commented on #224
I just saw that I'm the captain of multiformats if https://github.com/ipfs/pm/issues/224#issue-183468315 is correct. I was unaware of this, is it correct?

[2016-11-08 12:01] diasdavid commented on #129
This was last quarter, closing.

[2016-11-08 12:01] #129 closed

[2016-11-08 12:01] diasdavid commented on #127
This was last quarter, closing

[2016-11-08 12:01] #127 closed

[2016-11-08 12:03] diasdavid commented on #111
@jbenet seems that github lost your screenshots (wat?)

![image](https://cloud.githubusercontent.com/assets/1211152/20098377/643333b0-a5ab-11e6-9568-a8b0c177cf70.png)

![image](https://cloud.githubusercontent.com/assets/1211152/20098387/6b647fc2-a5ab-11e6-8b62-2089e9db563b.png)

[2016-11-08 12:20] diasdavid commented on #188
We are doing this now, can the issue be closed?

[2016-11-08 12:22] diasdavid commented on #134
We've adopted this 🎉 Thank's y'all :)
closing the issue

[2016-11-08 12:41] flyingzumwalt commented on #188
Yep. Closing.

[2016-11-08 12:41] #188 closed

[2016-11-08 12:42] hsanjuan commented on #228
ok

[2016-11-08 13:48] diasdavid commented on #246
# dag API

This really needs some love -> https://github.com/ipfs/interface-ipfs-core/issues/81

[2016-11-08 13:48] VictorBjelkholm commented on #224
@diasdavid this is not the first time there is a confusion about the caption of multiformats... I think in this case, it's just about the roadmap + milestones for Q4 that you captain, Richard is captain over the multiformats/multiformats repository and I think we're still missing a decision on who exactly captains the overall multiformats organization/effort, see this issue: https://github.com/mul

[2016-11-08 13:50] diasdavid commented on #246
# floodsub API

@gavinmcdermott is taking the lead of stubbing this API and integrating it in js-ipfs and js-ipfs-api

Relevant issues with notes:
- https://github.com/ipfs/js-ipfs/issues/530
- https://github.com/ipfs/js-ipfs/pull/531
- https://github.com/ipfs/js-ipfs-api/pull/377

[2016-11-08 13:50] diasdavid commented on #246
# metamask libp2p testnet

- [ ] notify @kumavis when all Async Crypto is merged and ready for him to try out (hopefully no later then wednesday)

[2016-11-08 13:52] diasdavid commented on #246
I've added the action items/notes (above ^^^ ) that are not captured directly by milestones our waffle so that we don't drop them :)

[2016-11-08 16:37] flyingzumwalt commented on #244
Falling back to relying on Doodle. Please vote:
http://doodle.com/poll/659qpabx6vce3kfp

[2016-11-09 18:04] flyingzumwalt commented on #237
@diasdavid we finally have labels-and-milestones working! Please review the list of repos, milestones and labels in this config file to confirm that they are right before I sync them across all your repositories: https://github.com/flyingzumwalt/labels-and-milestones/blob/master/js-ipfs.json

Eventually these files will probably live in ipfs/pm somewhere, but for today just submit a PR against my

[2016-11-09 22:57] diasdavid commented on #246
I won't be able to commit being available for next sprint call, as I'll be participating on TADSummit.

@dignifiedquire @VictorBjelkholm can you take over me for js-ipfs? I'll give my review on the waffle board and leave notes on the etherpad

@whyrusleeping @lgierth @Kubuxu can you take over me for libp2p? I'll also give my review on the waffle board and leave notes on the etherpad

[2016-11-10 00:32] RichardLitt opened #248 "Sprint: Nov 14 > Nov 20"
# November 14 Sprint

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link

[2016-11-10 00:35] RichardLitt commented on #246
@diasdavid Updated in #248 with that information, thanks. Have fun!

[2016-11-10 00:50] nicola commented on #246
### IPLD fridays poll

@flyingzumwalt, @dignifiedquire, @jbenet, @diasdavid please fill this: http://doodle.com/poll/xipx3d7q56shufmc

[2016-11-10 00:56] diasdavid commented on #246
@nicola why no 6pm UTC?

[2016-11-10 01:08] RichardLitt commented on #134
This should be noted in the README for this repo. Reopening to track that.

[2016-11-10 01:15] flyingzumwalt commented on #134
Technical point: "Add info about weekly sprints to the readme" should be a new issue. Otherwise you end up with open issues whose titles don't match the work that needs to be done. We've satisfied the proposal that this issue's title and description call for, so the issue should stay closed.

Also, we did write up a description of the weekly calls in the Draft PM Document here: https://github.com/

[2016-11-10 01:19] RichardLitt commented on #134
I know where you're coming from, but I don't think we have solved this issue. Part of satisfying this issue is making sure that we've covered how people know about the process, which involves updating the README so that newcomers know we do this. Including documentation as part of our process for closing issues is important, because otherwise it depends on someone else remembering later to write u

[2016-11-10 01:26] nicola commented on #246
@diasdavid just added, but might not work for me :/

[2016-11-10 01:30] flyingzumwalt commented on #134
Is that the convention with code-related issues? The issue can't be closed until the documentation is added? That makes sense to me as long as we're consistent.

I'm fine with updating the Readme now, since we are already following that practice. I just wanted to make sure you knew we already have a copy of that text lying around in case you want to re-use it.

[2016-11-10 01:36] RichardLitt commented on #134
That's a valid point, but this repository isn't code - it's documents. View the documents as the code which allows us to function. If we agree on something, and it isn't written down in a README somewhere, then the new version of the code won't run well as new input is added. We need to make sure that people coming to this repo for the first time don't get lost and confused about new practices. As

[2016-11-10 01:39] RichardLitt commented on #111
That is super weird!

Update: I have not prioritized this, because I am not sure how much it would be used at the moment. I have higher priorities right now, but if anyone thinks I should highlight it sooner, please let me know.

[2016-11-10 02:05] flyingzumwalt commented on #134
Thank you for clarifying. I get it now.

[2016-11-10 02:08] RichardLitt commented on #134
No problem. :) Thanks for asking! Looking forward to the PM document being worked on, too.

[2016-11-10 06:25] RichardLitt commented on #188
@flyingzumwalt Should this be in the docs somewhere? Is this part of the big PM doc?

[2016-11-10 06:32] RichardLitt commented on #224
@diasdavid AFAIK the list above was not meant to mean that you were captaining that effort, but that you would add the multiformats milestones somewhere. Someone needs to do that secretarial work.

[2016-11-10 08:28] diasdavid commented on #246
@nicola I believe you added 3pm UTC

[2016-11-10 08:55] diasdavid commented on #224
I see, my apologies for those not being up yet, kind of short in time, will try to do it tomorrow or not later than next week

[2016-11-10 09:11] RichardLitt commented on #224
No worries! I'm not shaming; just pointing out why I think your name is up there. :)

[2016-11-10 09:53] diasdavid commented on #237
@flyingzumwalt the complete list can be found here: https://waffle.io/ipfs/js-ipfs/settings/sources
@RichardLitt has also updated his script that will enable the labels to be applied in all the repos https://github.com/ipfs/community/commit/238477df3c63567451cd95d2ef21a0e750adf959

excited that this is coming together :)

For easy easing, can we have like 2 or 3 random chars per Milestone, such th

[2016-11-10 13:08] flyingzumwalt commented on #188
Yes. It's part of the PM discussion.
On Thu, Nov 10, 2016 at 1:25 AM Richard Littauer <notifications@github.com>
wrote:

[2016-11-10 13:21] RichardLitt commented on #248
This week, it would be a good idea to try out HackMD and see how we like it. It allows us to see a live version of the Markdown. I've adjusted the links above. See https://github.com/ipfs/community/issues/196 for more information.

[2016-11-11 02:25] calebh commented on #181
IMO not allowing cycles in documents is a big mistake. Real applications that would like to use IPLD don't always have nice DAGs.

Also the two algorithms that you've given won't work for applications that have DAGs with duplicate node labels. Here I'm referring to node labels as hashes of the non-cyclic components of each node. That is, the content of a document with the links to other nodes in i

[2016-11-11 05:26] jbenet commented on #238
- I do not understand why this is an issue. Was there a problem? Are many people complaining that it is unclear what is needed to merge a PR? I haven't seen that yet-- can you link me if so?
- "What it takes" varies wildly by project (in our set of projects). Some projects need more review and careful testing (eg go-ipfs). in some small ones pushing directly to master is just fine.
- **The informa

[2016-11-11 16:22] flyingzumwalt commented on #238
## The Little Picture Answer

This issue was triggered by a discussion about a number of PRs where it was not completely clear whether a PR was ready to merge.  There was uncertainty about how to indicate things like
* I have concerns about this PR
* My concerns have been addressed (or "My concerns will have been addressed when...")
* I want more people to review this even though I already reviewe

[2016-11-11 17:00] nicola commented on #246
hey @daviddias, @dignifiedquire, @victorbjelkholm I have failed to notify you with doodle.com about today’s IPLD meeting, according to the poll should be now. I thought I have done it through the app, but it did not show up on the calendar.

Let me know if you are in.

[2016-11-12 02:44] lgierth commented on #204
Sorry, I totally failed to fulfill this simple task. Should I still apply the "backlog" label or is that covered by the "libp2p-backlog" label now?

[2016-11-12 04:25] diasdavid commented on #237
@flyingzumwalt saw that you added the milestones https://github.com/ipfs/js-ipfs/milestones \o/ thank you!

Do note though, that they were not all tagged correctly:

![image](https://cloud.githubusercontent.com/assets/1211152/20235662/f5d52756-a88f-11e6-8051-a6d51e091683.png)

![image](https://cloud.githubusercontent.com/assets/1211152/20235664/f91c5c36-a88f-11e6-94d4-b927b0f14c33.png)

^^ These w

[2016-11-12 04:26] flyingzumwalt commented on #237
Fixing it would take about an hour. Can we live with it?

[2016-11-12 04:27] diasdavid commented on #237
just closing these 2 would be enough :)

[2016-11-12 04:30] flyingzumwalt commented on #237
I think I know how to do that! Let me try.

[2016-11-12 04:40] flyingzumwalt commented on #237
Ok. I synced the milestones across these repos:
[code]
and closed the two Q3 milestones.

I wasn't sure if you want these milestones added to all the multiformats and libp2p repositories. We can create separeate config files for those projects' milestones if you want.

Note: I still don't have write permissions on https://github.com/ipfs/js-ipfs-examples, so the milestones aren't syncing to that o

[2016-11-12 17:54] diasdavid commented on #237
We do need the milestones to be across the repos that waffle is tracking for the `Project: js-ipfs`

[2016-11-12 23:18] flyingzumwalt commented on #237
Added these to the config file:
[code]
bu I don't have write access to most of those repos. @dignifiedquire can you help with that?

[2016-11-13 06:44] diasdavid commented on #237
@flyingzumwalt added you to all with exception of `aegir`, which @dignifiedquire owns

[2016-11-14 05:22] nicola commented on #248
Hey @RichardLitt, from a previous Doodle we confirmed that IPLD should happen at 12pm EST (5pm UTC)

Can we add in this weekly calendar a new table like this:

| **Endeavour**   | **Lead** | **Time (PST - UTC/Z - CET)** | **Pad** |
|-----|---------|---|---------|
| IPLS |  @nicola  | 12pm EST  | x |

[2016-11-14 05:30] RichardLitt commented on #248
Ok; that's on November 18th, correct?

[2016-11-14 05:31] nicola commented on #248
@RichardLitt correct!

[2016-11-14 07:03] RichardLitt commented on #248
Added. :)

[2016-11-14 07:15] diasdavid commented on #248
@RichardLitt could you also update the weekly calendar?

[2016-11-14 07:39] RichardLitt commented on #248
Done!

[2016-11-14 10:07] diasdavid commented on #248
thank you @RichardLitt

another thing, @dignifiedquire won't be able to join the calls tonight. @VictorBjelkholm would you be good to lead js-ipfs call?

[2016-11-14 10:12] VictorBjelkholm commented on #248
Sure thing!

On Mon, Nov 14, 2016, 11:07 David Dias <notifications@github.com> wrote:

[2016-11-14 15:52] flyingzumwalt opened #251 "Call to Discuss the PM Process"
IPFS Project Management Process Review: Nov 2016
===

[Notepad for the Call](https://hackmd.io/KYdgZgHCFgxgtAZgEYEMCM8AsAmAbKvKgKzo5HAnoCcsYixAJsUA)
[zoom](https://zoom.us/j/3339991818)
This discussion is part of https://github.com/ipfs/pm/issues/244

## Review/History of the Document
The current Draft: https://github.com/ipfs/pm/pull/183/files

All the issues that track this work and discussions

[2016-11-14 15:53] flyingzumwalt commented on #251
FYI: [HackMD pad with these notes](https://hackmd.io/MwVg7ADAHATDBsBaAnDAhsRAWAxvKiARoWMojACY44gBmAjMMjhCEA==)

[2016-11-14 15:56] RichardLitt commented on #251
Thank you, @flyingzumwalt. Thank you especially for raising concerns about the PM roadmap and community engagement. I won't be able to make the call, but I look forward to reading the notes on this.

[2016-11-14 16:31] flyingzumwalt commented on #251
The call is probably going to be rescheduled. Watch the doodle poll here: http://doodle.com/poll/659qpabx6vce3kfp#table

[2016-11-14 17:10] haadcode commented on #251
Subscribing.

[2016-11-14 17:51] RichardLitt commented on #248
Updated all links to notes to use HackMD following good vibes from the All Hands call.

[2016-11-14 18:48] flyingzumwalt commented on #237
I still don't have admin access to any of the multiformats repos.

[2016-11-14 18:51] RichardLitt commented on #237
You should now.

[2016-11-14 19:08] flyingzumwalt opened #253 "Find out if Community Wants a weekly "Apps on IPFS" Call"
We have added an "Apps on IPFS" slot to the weekly calls.  This is primarily for orbit. We want to figure out whether the community wants this call to cover more than just orbit (and people using orbit-db).

Action Items
- [x] Reach out on ipfs/community
- [ ] Ask on Discourse Trial
- [x] Ask on IRC
- [x] Reach out to people whose work is on awesome-ipfs ???
- [x] Reach out on ipfs/apps

[2016-11-14 19:08] flyingzumwalt commented on #253
@RichardLitt can you help with this?

[2016-11-14 19:29] flyingzumwalt commented on #248
**CANCELLED go-ipfs** call due to Technical Difficulties and lack of agenda items. Apologies for the last minute change.

**CANCELLED libp2p** due to lack of quorum (no @diasdavid or @whyrusleeping) @diasdavid set up some items [on the agenda](https://hackmd.io/AwJgJgRgHA7CwFoQwIYDYEBZwZcAjAKYL5QBmMmwKAnAKx001A==) but only @kumavis was around to discuss.

@diasdavid Remember to revive those agenda

[2016-11-14 19:37] VictorBjelkholm commented on #253
I would certainly want to see more than just Orbit in a general call for apps on IPFS. I think we do need to be better at reaching out to people we see using IPFS and make the case for them to appear in the call and talk about their projects though.

[2016-11-14 19:40] haadcode commented on #253
I would also like to see more than just orbit :) Perhaps we can reach on on ipfs/apps too to encourage people to come and share what they're working on?

[2016-11-14 23:30] diasdavid commented on #248
@VictorBjelkholm thank you for hosting the call and @em-ly thank you for note taking! Are the notes all up? Can I get the video recording just to catch up on the items of the agenda?

@flyingzumwalt for reference: https://github.com/ipfs/pm/issues/246#issuecomment-259551164

[2016-11-15 03:33] flyingzumwalt commented on #253
I didn't even know ipfs/apps existed. 😊

[2016-11-15 12:55] VictorBjelkholm commented on #253
We also have Twitter and Reddit where we can ask for people

[2016-11-15 13:22] VictorBjelkholm commented on #248
@diasdavid you can find the notes here: https://github.com/ipfs/pm/blob/d0fa64bce0598d768f0b17b15092865537208789/meeting-notes/2016-11-14-js-ipfs.md

In short, just walked through the items on the list, announcing the async crypto stuff is merged but I haven't personally verified it's working in the browser yet. Also talking about the mission to add more examples and documentation in preparation o

[2016-11-15 17:29] flyingzumwalt commented on #237
It’s still not letting me add milestones to any of the multiformats repos.

[2016-11-15 18:23] flyingzumwalt opened #257 "[Generating Roadmaps] Evaluating the labels-and-milestones approach"
## The Need
We want a graceful way to
* Construct Roadmaps that list Milestones with Estimated Dates of Delivery and associated Github Issues
* Commit Quarterly Roadmaps in a way that lets us evaluate at the end of the Quarter
* Track the progress of Milestones as time passes
* easily refer back-and-forth between waffle boards (or equivalent) and Roadmaps

If our projects only spanned one reposito

[2016-11-15 19:56] flyingzumwalt commented on #257
Here's what I had to do to set this up for go-ipfs:
* https://github.com/ipfs/go-ipfs/pull/3390
* https://github.com/ipfs/go-ipfs/pull/3389

Likewise for js-ipfs:
* https://github.com/ipfs/js-ipfs/pull/595
* https://github.com/ipfs/js-ipfs/pull/596

I'm not convinced that we want to store these config files within each project. I just set it up to imitate what @haadcode did in https://github.com/h

[2016-11-15 22:02] flyingzumwalt commented on #251
cc @diasdavid @whyrusleeping @jbenet @em-ly Please try to read this before tomorrow's call. It will let us hit the ground running.

[2016-11-16 01:18] whyrusleeping commented on #238
It is *very* crticial to be rigorous about what gets merged and how for a variety of different reasons. The previously stated one is code quality, if we arent strict about making sure the quality of merged code is always up to our standard, then things will start to fester and rot.

The second reason for being careful about this is security, If too many different people are merging things then we

[2016-11-16 10:26] dignifiedquire commented on #237
@flyingzumwalt invited you to aegir

[2016-11-16 12:44] RichardLitt commented on #248
The video for the All Hands Call can be found here: https://www.youtube.com/watch?v=njwL_Xrmu5M

[2016-11-16 14:49] RichardLitt commented on #246
@nicola closing this. Hope that that was resolved.

[2016-11-16 14:49] #246 closed

[2016-11-16 14:51] haadcode commented on #251
Hi all, unfortunately I can't make it tonight as something else requires my attention at that time, sorry.

However, having prepared for this meeting earlier and read through all the discussion here, I'm only left with one question: what are we trying to do here? To me all these notes seem to say "let's blow up the PM process". What I'm having hard time with is to understand where all this is goin

[2016-11-16 15:44] RichardLitt opened #258 "Sprint: Nov 21 -> 27"
# Sprint November 21

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link

[2016-11-16 17:14] diasdavid commented on #248
@RichardLitt do you have the one for js-ipfs?

[2016-11-16 17:16] RichardLitt commented on #248
I do not, unfortunately. I have one for Apps on IPFS from @Kubuxu, however.

[2016-11-16 17:19] diasdavid commented on #257
Feature request: When a milestone is "done" it would be awesome to be able to "close all of those milestones across repos. Right now it has to be manual

[2016-11-16 17:38] RichardLitt commented on #248
Which is here: https://youtu.be/Q0ao_OANKu0

[2016-11-16 17:43] flyingzumwalt commented on #257
@diasdavid to close a milestone across all the projects you just need to set the status to "closed" on that milestone and re-run the sync tool. Example here: https://github.com/ipfs/js-ipfs/pull/595/files#diff-bf8248917bae166dcc53714cf525dddcR31

[2016-11-16 17:46] flyingzumwalt commented on #248
I handed off the videos of all-hands and js-ipfs to @VictorBjelkholm for uploading to youtube (I don't have access to the IPFS youtube account). Let me know if you need me to hand them off again.

[2016-11-16 21:06] diasdavid commented on #138
now we have waffle :)

[2016-11-16 21:06] #138 closed

[2016-11-17 10:20] VictorBjelkholm commented on #248
@flyingzumwalt Oh, did not realize that, I only pinned the hashes you sent me! I have no idea how the process for us to upload to Youtube (nor the access) works, probably better if someone else does it. Sorry for any miscommunication on my side.

[2016-11-17 12:15] RichardLitt commented on #248
Can you find those hashes and give them to me? I can upload them.

[2016-11-17 12:18] VictorBjelkholm commented on #248
@RichardLitt yes, should have put them directly...

all-hands: QmQ5W1Su6Hq4qfXsctRH8rp8c8qD61wU35j8WCizcmfHCs

js-ipfs: QmNskaAZUqweAnDc4nv8SAQQzzNsr11j62tQeohXj3dJk3

[2016-11-17 12:41] RichardLitt commented on #248
Thanks, @VictorBjelkholm. After processing, the video for js-ipfs will be available here: https://youtu.be/kMw4Z3YpqPU

[2016-11-17 13:47] RichardLitt commented on #258
Note: I have added the HackMD notes and agendas to each of the sprints above. Going forward, we will use HackMD, following https://github.com/ipfs/community/issues/196. 🎉

[2016-11-17 21:35] flyingzumwalt commented on #251
Notes from Call to Discuss the PM Process 16-Nov 2016
====

# Agenda

* Check in about the process - why has it stalled?
  * labels-and-milestones
  * roadmap generator
* What do we need from this document? Who is the Audience?
* How do we finish this?
* Project Manager vs. Facilitator
  * Stakeholder engagement
  * Following up with committers
* Weekly Calls
* Governance: Benevolent Dictator vs.

[2016-11-17 21:36] whyrusleeping commented on #258
I'm going to be either unavailable or in a noisy crowded airport monday morning. I would like to move go-ipfs and go-libp2p calls to tuesday the 22nd, and either keep the time the same, or move it forward (might be easier on the europeans). cc @lgierth and @Kubuxu on your schedule constaints.

[2016-11-17 21:37] flyingzumwalt commented on #251
I've uploaded a recording of the call to google drive at https://drive.google.com/open?id=0B7snS36pEV4HaE9aT29Hc2d0OGc
cc @haadcode

[2016-11-17 21:44] lgierth commented on #258
Either tuesday or wednesday work for me -- let's decide until tomorrow though

[2016-11-17 21:44] kevina commented on #258
Tuesday's are bad for me.  If we move the call the Wed there is a much better change of me being able to attend the go-ipfs call.

[2016-11-18 15:04] RichardLitt commented on #248
This is to note that the IPLD call is happening today at 1700 UTC. Please add your agenda items accordingly.

[2016-11-18 18:11] VictorBjelkholm commented on #248
@RichardLitt IPLD call recording is here: QmbBqxsNPEMJhXxVUBvXLWG1GgJt7ukKjH5AxQbTEpVMas

Could you please upload it to youtube as well?

[2016-11-18 19:03] RichardLitt commented on #248
Sure. https://youtu.be/3zTip_GfN-Y.

And I think that is it for this sprint! See you all next week.

[2016-11-18 19:03] #248 closed

[2016-11-18 19:22] RichardLitt commented on #253
- [ ] Reached out on Reddit https://www.reddit.com/r/ipfs/comments/5doa3k/asking_for_participation_in_the_weekly_apps_on/

[2016-11-18 20:46] RichardLitt commented on #258
@whyrusleeping @kevina @lgierth Does Wednesday work for you? 1800Z?

[2016-11-18 21:05] Kubuxu commented on #258
Wednesday doesn't work for me until 1845Z.

[2016-11-18 22:38] kevina commented on #258
How about we make it 1900Z then?  (But either time works for me.)

[2016-11-19 05:25] RichardLitt commented on #258
@whyrusleeping sound good?

[2016-11-19 21:29] whyrusleeping commented on #258
Sounds good to me.

[2016-11-21 08:52] hsanjuan commented on #258
ok too

[2016-11-21 11:49] RichardLitt commented on #258
Updated the schedule.

[2016-11-21 14:38] diasdavid commented on #258
@RichardLitt can we start sooner then?

[2016-11-21 14:49] RichardLitt commented on #258
We could, yes. Do you think that two hours is enough advance time to let people know that the calls will be shifted?

Might be best to move the libp2p call to before Apps on IPFS.

[2016-11-21 14:57] diasdavid commented on #258
There is a bunch of items in libp2p agenda today that are with respect to go-libp2p, I would like to have @whyrusleeping around for it. Can we move libp2p to Wednesday as well?
Then we can move js-ipfs to go-ipfs timeslot and we save everyone some extra time today :)

[2016-11-21 15:12] RichardLitt commented on #258
1930 for libp2p on Wednesday, then?

[2016-11-21 15:15] diasdavid commented on #258
yes, thank you :)

[2016-11-21 17:39] dignifiedquire commented on #258
I won't be around on Wednesday or Friday :(

[2016-11-23 20:06] lgierth opened #266 "Sprint template: move agenda below notes"
It's common that participants edit the agenda while the meeting is ongoing, and for me personally that's very very distracting when taking notes. It messes with my notetaking rhythm.

Alternatively: once the meeting has started, the notetaker is the only one allowed to edit the document.

[2016-11-23 20:08] lgierth commented on #266
I failed to describe why it's so distracting: editors show a fixed pane of lines, e.g. lines 30 to 59, and when someone adds lines above that, what was previously lines 30 to 59, is now lines 35 to 64. Stuff moves while I'm typing and that's where my notetaking rhythm goes over board.

[2016-11-25 15:41] RichardLitt opened #267 "Sprint: November 28 > December 4"
# Sprint November 28

_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link

[2016-11-25 16:31] RichardLitt commented on #266
I would do something different: Move the notes below the agenda, and agree to not write in the agenda at all after it has started.

There is another option: Don't separate out the agenda and the notes. Instead, take notes directly in the agenda. This has the benefit that people can see what is being note-taken while they are looking at the pad. Currently, the note taker often has to do unpraised w

[2016-11-28 00:26] diasdavid commented on #267
Aye! Just realised that tomorrow I won't be available 7pm onwards. Can we switch js-ipfs and libp2p with go-ipfs and apps on IPFS?

@whyrusleeping @haadcode would you be ok with it?

My apologies for the late notice, it got off of my radar with visit to Berlin and all the flying mess.

//cc @RichardLitt @flyingzumwalt

[2016-11-28 06:01] haadcode commented on #267
I can't do apps that late. We can switch if someone else can lead it?

[2016-11-28 11:20] haadcode commented on #267
Alternatively, I'm also fine *not* doing an apps call this week and give the slot to @diasdavid. There hasn't been any notable progress with Orbit, but I'm not sure how others in the community feel about it.

[2016-11-28 14:41] diasdavid commented on #102
Let's bring DNS and TLS (as in, baked transports with TLS such as https/wss) to multiaddr, we need it more than ever because it is kind of hard to do apps in JS without HTTPS, as cross domain scripts just won't load //cc @lgierth

#### Update

We have adopted a format for `ws`, i.e: `/ip4/127.0.0.1/tcp/9200/ws/ipfs/QmHash`

[2016-11-28 14:43] diasdavid commented on #111
Do we still want this or have we shifted our interest to `depviz`? (Close if not necessary anymore)

[2016-11-28 14:43] diasdavid commented on #121
@RichardLitt was this achieve with your new sprint helper?

[2016-11-28 14:44] diasdavid commented on #132
Repo where this is getting developed
https://github.com/jbenet/depviz

[2016-11-28 14:46] diasdavid commented on #134
Well, seems that everything got clarified and done, closing now :)

[2016-11-28 14:46] #134 closed

[2016-11-28 14:47] diasdavid commented on #139
We have been doing this every week, I believe it is time to consider this issue done? Closing, reopen if necessary.

[2016-11-28 14:47] #139 closed

[2016-11-28 14:48] diasdavid commented on #153
Is `go-ipfs` fully onboarded in the PM process? What is missing exactly?

[2016-11-28 14:50] diasdavid commented on #230
Now that we moved to hackpad, can we close this?

Having an hackpad/etherpad on IPFS sounds like a great idea and should be added to ipfs/notes

[2016-11-28 14:50] diasdavid commented on #230
Actually it is mentioned here: https://github.com/ipfs/notes/issues/40#issuecomment-147285873 in the CRDT discussion, but it could use its own issue.

[2016-11-28 14:51] diasdavid commented on #228
@hsanjuan update?

[2016-11-28 14:54] diasdavid commented on #126
We've had the opportunity to go over this discussion several times, through hangouts, issues and in person. Now we are all committed to Weekly sprints and quarter roadmap reviews.

Would you say that this issue has been solved?

[2016-11-28 14:55] diasdavid commented on #231
related: https://github.com/ipfs/pm/issues/121

[2016-11-28 15:02] diasdavid commented on #225
@flyingzumwalt do we have the notes for this call available? Can we link them here and add them to the notes folder?

Also, I believe we can close this issue now, right?

[2016-11-28 15:15] diasdavid commented on #209
Added these resources to - https://github.com/ipfs/pm/pull/269

[2016-11-28 15:15] diasdavid commented on #192
captured this at https://github.com/ipfs/pm/pull/269

[2016-11-28 15:19] diasdavid commented on #244
Call happened, now next step is: https://github.com/ipfs/pm/issues/251

[2016-11-28 15:19] #244 closed

[2016-11-28 15:20] diasdavid commented on #234
@RichardLitt you have a thing now, right? :D

[2016-11-28 15:28] RichardLitt commented on #230
No longer needed as we use HackMD. Closing this; I opened https://github.com/ipfs/notes/issues/190 to log potential work here in the future.

[2016-11-28 15:28] #230 closed

[2016-11-28 15:30] RichardLitt commented on #231
This can be closed now; we've all gone through the time change.

[2016-11-28 15:30] #231 closed

[2016-11-28 15:38] haadcode commented on #267
Due to unexpected turn of events, I can't participate in tonight's calls, sorry for the late notice.

I've left an [update on Orbit](https://hackmd.io/EwFgJgrAZgbAHAZgLRzgBgkkIBGBGJAQwHYEBTFCAYxASquoE5i4g===#agenda) in the pad for "app on IPFS", and added a small demo for the [all hands](https://hackmd.io/EYNgrCCGYMwIwFpgA4AsBTBqbyQdgGNF0AmdATmHIDMQ7VIg#agenda). Someone will have to moderate the a

[2016-11-28 15:40] RichardLitt commented on #267
Thanks for letting us know. I'll moderate the apps call.

[2016-11-28 15:45] flyingzumwalt commented on #225
Looks like we ended up with 2 issues for this. All the notes, links, etc are in #251. We didn't use the agenda listed in this issue, but touched on most of the topics. I plan to cover the rest in small-group PM coaching calls.

[2016-11-28 15:45] #225 closed

[2016-11-28 15:46] flyingzumwalt commented on #251
FYI I plan to re-watch the video (to get back in the swing from my vacation) and post more thorough notes based on the second watching.

[2016-11-28 15:46] #251 closed

[2016-11-28 15:49] RichardLitt commented on #267
I've shifted the calls to reflect @diasdavid not being there. We can raise any issues with this in the All Hands call; for now, this is the best way to ensure that @diasdavid is able to attend.

[2016-11-28 16:02] RichardLitt commented on #121
No, but it easily could. Currently, it just prints out the template for the sprint call notification. Having it calculate the time until the next call would be a good thing to do. Opened an issue about it.

[2016-11-28 16:09] flyingzumwalt commented on #244
NOTE: We still haven't formally ratified the PM Process Document, but we might not need a call to do this. If we merge a PR with the document in it, that probably qualifies as "ratifying" the document.

[2016-11-28 16:15] flyingzumwalt commented on #153
Yes it's basically onboarded. I want to do a final pass, mainly watching how we use the waffle board and the roadmap. I also will be updating the PM document to _remove_ minor stuff that we're not doing and seem to be fine without.

It's fine to close this issue though. We've done what it proposes -- testing the PM process with the go-ipfs project.

[2016-11-28 16:15] #153 closed

[2016-11-28 16:18] RichardLitt commented on #234
Yes and no. Yes, I have a thing; https://github.com/RichardLitt/ipfs-sprint-helper. No, it doesn't do a lot of this yet; at the moment, it merely takes arguments given to it in IRC and spits out a nice looking template. I hope to make it work with these things, though. We need:

### GitHub Bot

- [ ] Open issues on GitHub every week at a given time
  - [ ] Create or use a recurring zoom call for e

[2016-11-28 16:25] RichardLitt commented on #139
Opened a relevant PR in #270.

[2016-11-28 16:40] RichardLitt commented on #234
Looks like HackMD plans on making an API available for automatically creating notes. https://github.com/hackmdio/hackmd/issues/11

[2016-11-28 16:42] diasdavid commented on #267
@haadcode hope everything is ok. Are you around this afternoon? Can you leave an update for us on the developments of `FloodSub` and `Improving Init`?

[2016-11-28 16:44] haadcode commented on #267
@diasdavid thanks @diasdavid all is good, just have to do something tonight that I can't do on other nights :)

[2016-11-28 16:45] haadcode commented on #267
@diasdavid and check the apps notes for some pubsub related updates.

[2016-11-28 16:46] RichardLitt commented on #192
I don't want this to just be a link; I'd love to join this group on behalf of Protocol Labs. I think we should give back, as well. @flyingzumwalt Would you be interested in joining, too?

[2016-11-28 16:55] hsanjuan commented on #228
@diasdavid nope. I know this issue has to go from here and it will eventually, it's just not my main worry at the moment.

[2016-11-28 18:44] noffle commented on #267
Hiya o/

I'm not going to be able to make the apps time slot either, so I left my ipget 1.0.0 notes on the [pad](https://hackmd.io/EwFgJgrAZgbAHAZgLRzgBgkkIBGBGJAQwHYEBTFCAYxASquoE5i4g===) too. I'm idling in `#Ipfs` though, so ping me if there's any questions and I can answer + update notes asynchronously! :tada:

[2016-11-28 19:07] jbenet opened #272 "Consistent label / state naming for libp2p"
It came up in the libp2p call of 11/28 ( #267 ) that:

- go-libp2p things are tracked as part of go-ipfs to reduce friction for the go team
- the libp2p board and effort is there to track all libp2p things (go-libp2p, js-libp2p, etc)
- if the labels were named the same, then we could have the go-libp2p issues show up in both go-ipfs and libp2p boards.

So, this may need:

- [x] verify that works
-

[2016-11-28 19:09] Kubuxu commented on #272
Just renaming labels might not work, what has to happen is for example: for every `libp2p-backlog` label, apply `backlog` label, remove the `libp2p-backlog` label. It for sure can be automated with GH API.

[2016-11-28 19:24] jbenet opened #273 "Bot for ensuring "In Progress" is recent? && Assessing if Kanban is the right methodology for us"
- **(Background)** Though there may be some flexibility in different projects' definitions, the `In Progress` state is supposed to be accurate about what is actively being worked on in a given moment in time -- not over a large span of time. The point of `In Progress` comes from Kanban, and it is there to give people a sense of what the team is working on _right now_, which helps make collaboratio

[2016-11-28 19:24] jbenet commented on #273
---

The algorithm for the bot should be roughly

[code]

[2016-11-28 19:32] jbenet commented on #273
By the way-- lots of the project management methodology literature i've read stress heavily the importance of ensuring people are truly only working on one thing at any one time. It helps people focus on that thing for the moment, and let go of others. It helps make sure people truly finish working on one thing (or stop and put it back) before trying to work on another. this is the sort of Project

[2016-11-28 19:33] flyingzumwalt commented on #273
In my experience, I have often had issues that I worked on for a day or two.

Tweak to @jbenet's suggestion: sometimes you want to flag an issue as "I'm going to work on this. Leave it for me to pick up later." In those cases, you should assign the issue to yourself but not mark it "in progress"

[2016-11-28 19:34] whyrusleeping commented on #273
@jbenet I would love to start having a management bot. I have a fair number of ideas i'd like to implement with that. This is LGTM, though maybe 3 hours is a bit aggressive

[2016-11-28 19:37] flyingzumwalt commented on #273
@jbenet I'm not familiar with the PM approaches that involve forcing people to "truly finish working on one thing (or stop and put it back) before trying to work on another". Please share links to reference info. It sounds like more of a personal productivity habit rather than a PM methodology. Building it into the PM process sets of my alarms about micro-managing.

[2016-11-28 19:38] Kubuxu commented on #273
I think it is quite and interesting and nice idea. I also agree with @whyrusleeping that 3h is a bit aggressive, I would be for something like 36h during the week and 62h over the weekend (so "in progress" isn't almost empty on Monday).

[2016-11-28 19:44] flyingzumwalt commented on #273
👍 to having a bot
👍 to the time windows @Kubuxu suggested

[2016-11-28 20:16] flyingzumwalt opened #276 "Decide where to track Project Roadmaps and configs for labels-and-milestones"
In order to land the work in https://github.com/ipfs/pm/issues/257 we need to decide where to track
* Generated Project Roadmaps
* Configs for labels-and-milestones
* Captain's Logs (if we generate them)

Please comment so we can proceed with this work.

cc @diasdavid  @whyrusleeping @jbenet @RichardLitt @haadcode, @VictorBjelkholm @lgierth

## The Options

### Configs for labels-and-milestones

#

[2016-11-28 20:31] flyingzumwalt commented on #192
Their current list of members includes a lot of companies that we have expressed admiration for, and occasionally said things like "we should ask them how they handle <foo-challenge>"  So yeah. I'd be game for joining, though it's not clear how to do that.

Process note: this issue is not framed as something that has a clear "finished" state, hence the confusion about whether it should be closed.

[2016-11-28 20:34] jbenet commented on #273
- 36hrs is WAY too much. this defeats the purpose. 12hr may be ok.
- what is desired here is to be able to look at -- with the board -- at what the team is working on actively. not "today", but "this hour". does this help clarify the intent of this issue + time restriction? im ok starting with 36hr, but the point is to push to higher throughput and only labeling something `In Progress` if you're w

[2016-11-28 20:45] flyingzumwalt commented on #273
I'll read these. Based on a cursory glance,
* It seems that the purpose of WIP limits is to prevent/reduce multitasking. We should make sure this is a problem we need to solve before we apply a solution.
* This habit seems focused on situations where people check in with their teammates daily, not weekly. Do we need to modify the habit to fit our work cadence?
* What about contributors who have a

[2016-11-28 21:15] RichardLitt commented on #276
Putting the configs and generated Roadmaps in ipfs/pm sounds good to me. I agree with @whyrusleeping that the generated roadmaps will mess with the history and add noise. I don't think it's wrong process to put project management information here.

I think that the Captain's Logs should be in Issues in their respective repositories, because they don't have to be markdown documents, and linking in

[2016-11-28 21:20] RichardLitt commented on #267
@noffle I read your notes to the peoples. Thank you so much for your work!

[2016-11-28 21:39] RichardLitt commented on #192
I've added my name to their Join list. We'll see if they get back to us. For now, let's close this.

[2016-11-28 21:39] #192 closed

[2016-11-28 22:00] flyingzumwalt commented on #273
### Must Read

_If you're following this thread and haven't read all of the links @jbenet posted, read these ones:_

* The Best explanation of Kanban and its motivations from this list (it's really good): https://www.smartsheet.com/visualize-your-do-list-using-kanban-boards-optimize-workflow
* If you only read one of the links @jbenet posted, read that one because it's the most relevant to the cur

[2016-11-28 22:17] #258 closed

[2016-11-28 22:31] em-ly commented on #234
Today was a great first run with sprint-bot! Way to go, @RichardLitt! One small step for man, one giant leap for our future AI overlords. 🚀

[2016-11-28 22:31] RichardLitt commented on #234
Gotta fix those unit tests though. Working on it now. :)

[2016-11-28 23:29] RichardLitt commented on #234
Fixed issue! Should be good for this particular usecase. Let's make this bot better and more useful. Next step: time help.

[2016-11-28 23:34] em-ly commented on #132
I love where this is going!

[2016-11-29 00:06] jbenet commented on #273
Quick notes:

The full Kanban feel is tuned to an async-but-simultaneous team. I think with our boards, TZ spanning, looser teams, OSS values and habits, we would naturally yield a fully async (non simultaneous) cadence, even with several of the Kanban things.

Thank you so much for picking out the best ones! 👍  i should endeavor to post links well-scoped, that way.

Yeah, perhaps! I'm not sure wh

[2016-11-29 02:58] kevina commented on #273
I have not been following this conversation that closely.  But if we re-purpose "in progress" to mean what someone is actively working on then I think we need some sort of other label for something that is is in really a long standing work in progress.  That is something that is not really ready yet.  If it where up to me I would leave "in progress" to mean something that is well in progress no ma

[2016-11-29 13:52] flyingzumwalt commented on #273
@kevina regarding "ready", I want to work on making it clearer. In short, "ready" means "ready to be worked on". See [this line in the draft PM process doc](https://github.com/ipfs/pm/pull/183/files#diff-cca9cd45f93a569ea86d76223ca74498L182) and #188

[2016-11-29 23:54] diasdavid commented on #272
It works 🎉 Just tested it and renamed the labels in the process :)

[2016-11-30 16:20] zmackie-nbc commented on #209
This issue sounds like it may be closing, but [C4](https://rfc.zeromq.org/spec:42/C4/) may have something to add to the discussion.  It's the "Collective Code Construction Contract" that ZeroMQ uses to great success.

[2016-11-30 16:21] Zanadar commented on #209
This issue sounds like it may be closing, but [C4](https://rfc.zeromq.org/spec:42/C4/) may have something to add to the discussion.  It's the "Collective Code Construction Contract" that ZeroMQ uses to great success.

[2016-11-30 18:30] flyingzumwalt commented on #209
We should consider this particular issue done, but it brings up the need for a knowledge base (ie Wiki) where information like this can accumulate.  It should be independent of Issues, which need to be closed at some point. We've often put "knowledge base" type info into documents within GH repositories, but that info quickly gets lost because GH wasn't designed for tracking knowledge bases in the

[2016-11-30 18:30] #209 closed

[2016-11-30 21:07] #165 closed

[2016-11-30 21:07] #167 closed

[2016-11-30 21:07] #168 closed

[2016-11-30 21:07] #169 closed

[2016-11-30 21:07] #166 closed

[2016-11-30 21:49] flyingzumwalt commented on #154
This was a great discussion. We're making a solid push to use GH Milestones together with the labels-and-milestones sync tool.

[2016-11-30 21:49] #154 closed

[2016-11-30 21:51] flyingzumwalt commented on #164
We weren't able to settle on clear definitions of these. We seem to be getting by ok without them defined -- for now. We can reopen the topic if/when the definition becomes clear, or we start to feel pain from not having definitions for all of these roles.

[2016-11-30 21:51] #164 closed

[2016-11-30 21:52] flyingzumwalt commented on #125
FYI: I'm going to close this issue when we've finished Milestone 4 https://github.com/ipfs/pm/milestone/4

[2016-11-30 22:36] RichardLitt commented on #164
Sounds good to to me. Thank you.

[2016-11-30 22:44] RichardLitt opened #279 "Sprint: December 5-11"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2016-12-01 20:25] whyrusleeping commented on #276
I think it would be nice to have a separate page for all of these, something like pm.ipfs.io/go-ipfs where you can view all the roadmaps. It doesnt have to be pretty, just a nice place for them to live

[2016-12-01 21:14] flyingzumwalt commented on #276
@whyrusleeping that's a good idea. Regardless of where we store these config files and generated roadmaps, we could expose them on a page like that. Where do you think we should store the config files and the generated roadmaps themselves? Should we put all of those files for all of the projects into a single repository (possibly ipfs/pm for now)?

[2016-12-03 04:04] lgierth commented on #102
We didn't get to discussing it this week, let"s do it on Monday.

[2016-12-05 13:12] VictorBjelkholm commented on #279
Today I won't be able to participate in the calls.

[2016-12-05 13:13] dignifiedquire commented on #279
we will miss you

[2016-12-05 15:04] #267 closed

[2016-12-05 17:26] whyrusleeping commented on #279
re: @haadcode's 'everyone tell us what theyre doing this week'. Thats pretty much all i want the weekly sprint meetings to be all the time.

[2016-12-05 18:07] RichardLitt commented on #279
@haadcode I loved the check ins. That is why this is called a sync, too. :)

[2016-12-05 18:11] haadcode commented on #279
I liked the sync sync, too. Would love to do it again next week.

[2016-12-08 23:26] RichardLitt opened #285 "Sprint: December 12-18"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2016-12-10 23:42] diasdavid commented on #78
## Update

We might not need the `needs review` label anymore, as Github now provides a feature to explicitly request reviews for a PR and a way to communicate that such review was performed.

Shall we drop the `needs review` label?

[2016-12-12 11:41] hsanjuan commented on #285
@RichardLitt I think the lead for the first is @lgierth ? At least thats what the pad says

[2016-12-12 15:45] RichardLitt commented on #285
You're right. Spelling error and tab autocomplete; my bad. :)

[2016-12-12 15:55] RichardLitt commented on #78
You can't search by those requests at the moment, that I can tell. So, I don't think so.

[2016-12-12 16:58] #279 closed

[2016-12-12 20:03] flyingzumwalt opened #289 "Guide on How to Use milestones, labels and roadmaps tools"
Write a guide for project/endeavor leads on how to use labels-and-milestones and roadmap-generator

Also include links to relevant reference info, especially the PM process doc and conventions about issue labels.

[2016-12-12 20:06] flyingzumwalt commented on #289
cc @em-ly @RichardLitt can you help me with writing this?

Sample user / test user: @hsanjuan

[2016-12-12 20:08] flyingzumwalt opened #290 "Guide on how to use the Waffle Board"
Write a Guide for contributors that explains how to read the Waffle Board and how to manage your own issues on the board.

Text User/Sample User: ??? @Kubuxu, @dignifiedquire, @kumavis ???

[2016-12-12 20:46] RichardLitt commented on #289
Happy to help. I wasn't able to get labels-and-milestones working, though, so I'm not sure if I am the best to write it. I could work through it with you?

[2016-12-13 15:36] hsanjuan commented on #289
It doesn't have to be a step-by-step or something super detailed. Basically I'd like to see just a collection of PM policy items which we aim to follow. i.e. Having @RichardLitt standard-readme is one of such practices (I think), as well as setting up waffle instead of github projects. Common cross-project labels, common repo-badges etc and any tips of how you (PM focused people) would like everyo

[2016-12-14 10:29] diasdavid commented on #276
I like the idea of being able to access them at a place like pm.ipfs.io :) What I would like to see first (and this is kind of just notes from some of the discussions we've had so far):

- Convert the scripts into a testable module
- Make sure that there are no weird situations(i.e: milestones getting duplicated)
- Enable migrations (i.e: milestone renaming)
- Let project leads test it - At first,

[2016-12-14 15:47] RichardLitt commented on #289
Regarding README standards, take a look at [ipfs/devtools](https://github.com/ipfs/devtools). I've made a template for IPLD, and am moving on to multiformats today. I've been working on [a linter](https://github.com/RichardLitt/standard-readme-linter-regex) with options as a way of making it easy to test a README in a repo and see how it is. I'm not entirely comfortable with using an automatic gen

[2016-12-15 16:52] RichardLitt opened #293 "Sprint: December 19 - 25th"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2016-12-15 17:22] RichardLitt commented on #293
@VictorBjelkholm has let me know that Christmas in Sweden is on the 24th. Changed title appropriately.

[2016-12-19 13:23] haadcode commented on #293
I won't be able to join the calls tonight. Can someone cover for me in "apps for IPFS"?

[2016-12-19 14:21] Kubuxu commented on #293
@whyrusleeping won't be here for the calls either.

[2016-12-19 14:25] RichardLitt commented on #293
I would cover you for Apps, but I will only be able to make the All Hands call today, I'm afraid.

[2016-12-19 14:30] VictorBjelkholm commented on #293
I can moderate the "apps on IPFS" call, not sure if we have some actual content to discuss though

[2016-12-19 15:03] lgierth commented on #293
Updated to schedule to reflect that @Kubuxu will be leading the go-ipfs call, and @VictorBjelkholm the apps call.

[2016-12-19 16:41] diasdavid commented on #293
Well, if Apps on IPFS won't have an update today, `js-ipfs` and `libp2p` calls don't mind starting 30 mins earlier :)

[2016-12-19 16:50] RichardLitt commented on #293
I may perhaps need to specify the amount of time needed to change a date. I prefer to have the schedule locked down on the previous Friday, because then people know the day of. I think that we should have it anyway, in case someone else - who hasn't posted - wants to talk during that meeting.

[2016-12-19 18:37] #285 closed

[2016-12-19 18:38] em-ly commented on #293
The streaming link was never updated for this issue - can someone add that?

[2016-12-19 18:49] VictorBjelkholm commented on #293
@em-ly it's been updated now!

[2016-12-21 23:40] RichardLitt opened #300 "Sprint: December 26th --> January 1st"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

This coming week, instead of having a normal sprint involving several project calls, there will be more of an informal Office Hours. Participants are encouraged to drop

[2016-12-26 10:33] #293 closed

[2016-12-28 16:33] #300 closed

[2016-12-28 16:33] RichardLitt commented on #300
No notes were had during this session.

[2016-12-28 16:38] RichardLitt opened #303 "Sprint: January 2-8"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2016-12-29 15:22] RichardLitt commented on #303
I will not be around for this one. To announce them in IRC, use `sprint-helper announce`. If you need help, use `sprint-helper help`. It'll involve copying the links for notes, zoom, and the stream manually.

[2016-12-29 17:27] dignifiedquire commented on #303
I won't be around for this one

[2016-12-30 18:41] flyingzumwalt commented on #303
I recommend using these calls on the 2nd to do Q4 Community/Project Retrospectives. I won't be able to join the calls (traveling), but it's a perfect time for those discussions. I'll watch the recordings. I know @diasdavid is already preparing to do this. @whyrusleeping and @haadcode can you do this in your calls? Is someone willing to lead a community retrospective on the all-hands? @RichardLitt

[2016-12-31 21:03] em-ly commented on #303
I'm marked as the call lead for the all-hands, but also am traveling that day and will be cutting it close. Does anyone else feel like they can lead the community retrospective call during that time?

[2017-01-02 02:56] kevina commented on #303
Sorry, for the late notice, but I am unlikely to be around for the go-ipfs call.  I will be available on IRC later in the day if anyone needs me.

[2017-01-02 11:04] diasdavid commented on #303
### Hi all :)

I'll be attending and leading the js-ipfs and libp2p calls today as usual, however, since everyone is coming from holidays and getting back up to speed, I believe it is the best for us to use the time to evaluate how we performed last quarter. I know, it requires time and preparation for a really good retrospective and I do hope that with more time, everyone that has been contributi

[2017-01-02 16:02] dignifiedquire commented on #303
I will try and join for js-ipfs and libp2p

[2017-01-02 17:13] diasdavid commented on #303
### All hands notes: https://github.com/ipfs/pm/pull/304

[2017-01-02 23:28] lgierth commented on #102
- plan for /dns: https://github.com/multiformats/multiaddr/issues/22#issuecomment-268015055
- haven't posted the plan for /tls yet, but it's going to land in multiformats/multiaddr too

[2017-01-02 23:28] #102 closed

[2017-01-02 23:28] lgierth commented on #102
Notes from the discussion: https://hackmd.io/KbAcFYGYEME4AYC0BjALAMwEyI9YjYAjebVARgHZR5x1VoA2C2IA#

[2017-01-04 03:36] johndpope commented on #303
Sorry to drop in on this issue. Has anyone looked at some quick wins with ipfs and pip /and or  other package managers?  I watch the weeks go by and ipfs has yet to take over the datacenter world. or has it?   https://github.com/pypa/pip/issues/4215

[2017-01-04 10:37] hsanjuan commented on #303
Hi @johndpope . I think most discussions related to this can be found in ipfs/notes. i.e.:

https://github.com/ipfs/notes/issues/171
https://github.com/ipfs/notes/issues/2

[2017-01-05 14:59] RichardLitt opened #309 "Sprint: January 16-23"
_Note: We skipped a week -- we did not have a sprint call on Monday, January 9th._

_Note: Unlike the past sprints, this sprint we are going to change it up a bit. Instead of standing times for talking about js-ipfs, libp2p, go-ipfs, and so on, we will have the All Hands call at the normal time, and then a slot for an hour-long sprint call discussion to discuss the next week's work on a given spri

[2017-01-06 14:19] RichardLitt commented on #303
It looks like IPLD will not happen today. If anyone has anything they want to talk about, feel free to raise it here or in the sprint schedule for the next sprint, happening in two weeks from now. Apologies for not noticing this sooner!

[2017-01-09 11:42] #303 closed

[2017-01-12 22:42] flyingzumwalt commented on #309
FYI: We are thinking of changing the format & schedule for these weekly sprint calls. @RichardLitt will provide more info when the schedule is clear. In the meantime, the essential info: we _will_ have an hour long All Hands meeting as usual, but the rest of the schedule is likely to get rearranged or scrapped.

cc @kumavis @gavinmcdermott @SidHarder @doctorcrunch @keks @k

[2017-01-13 10:37] diasdavid opened #310 "Sprint: Browser accesses go-ipfs content"
# What is this sprint going to achieve

**Browser accesses go-ipfs content**

- As a user, be able to cat files from a browser ipfs node that the user added through go-ipfs CLI
- User story:
  - 1. User follows an example on js-ipfs README and spawns a node in the browser
  - 2. User sees that node has already some peers (bootstrappers)
  - 3. User adds a file with go-ipfs CLI
  - 4. User cats the

[2017-01-13 19:35] RichardLitt commented on #309
I've changed the sprint to reflect this: currently, we have one All Hands call planned for monday, with a sprint call afterwards, followed by free time which may be allocated to anything which comes up during the All Hands call which warrants further discussion. Let me know if you've got any questions!

[2017-01-14 21:08] flyingzumwalt opened #311 "Set Plan for Spec Endeavor"

[2017-01-14 21:10] flyingzumwalt opened #312 "Set Plan: Awesome API Docs (js)"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:10] flyingzumwalt opened #313 "Set plan: Documentation (general) endeavor"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:12] flyingzumwalt opened #314 "Set plan: WebUI"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:12] flyingzumwalt opened #315 "Set plan: Station"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:12] flyingzumwalt opened #316 "Set plan: http-api spec"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:13] flyingzumwalt opened #317 "Set plan: multiformats"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:13] flyingzumwalt opened #318 "Set plan: packet switching"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:14] flyingzumwalt opened #319 "Set plan: npm-on-ipfs"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:14] flyingzumwalt opened #320 "Set plan: gateway"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:14] flyingzumwalt opened #321 "Set plan: XTP"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:15] flyingzumwalt opened #322 "Set plan: dist.ipfs.io"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:15] flyingzumwalt opened #323 "Set plan: core-api"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:15] flyingzumwalt opened #324 "Set plan: project-repos"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:16] flyingzumwalt opened #325 "Set plan: blog"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:16] flyingzumwalt opened #326 "Set plan: ethereum on libp2p"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:17] flyingzumwalt opened #327 "Set plan: paperhub"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:22] RichardLitt commented on #317
Is this stale? I'm not sure I am the best to make a plan for this; I mainly run the organization on GitHub, not the overall state of all of the Multiformats.

[2017-01-14 21:28] flyingzumwalt opened #328 "Set plan: newsletter"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:29] flyingzumwalt opened #329 "Set plan: multikey"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:29] flyingzumwalt opened #330 "Set plan: ipfs-update"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:30] flyingzumwalt opened #331 "Set plan: starlog"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:30] flyingzumwalt opened #332 "Set plan: ipsend"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:30] flyingzumwalt opened #333 "Set plan: ipget"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:31] flyingzumwalt opened #334 "Set plan: Maps on IPFS"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:31] flyingzumwalt opened #335 "Set plan: Examples (on websites)"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:32] flyingzumwalt opened #336 "Set plan: ipfs on mobile"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:32] flyingzumwalt opened #337 "Set plan: gx"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:32] flyingzumwalt opened #338 "Set plan: archives repo"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:33] flyingzumwalt opened #339 "Set plan: decentralized web primer"
Establish a plan for getting the endeavor out of the stale state and update https://github.com/ipfs/ipfs/pull/224.

[2017-01-14 21:47] RichardLitt commented on #316
@hsanjuan Can you take this?

[2017-01-14 22:55] flyingzumwalt commented on #314
ref https://github.com/ipfs/webui/issues/568

[2017-01-14 22:56] flyingzumwalt commented on #312
ref https://github.com/ipfs/js-ipfs/issues/615#issuecomment-272160177

[2017-01-14 23:44] lgierth commented on #317
Yeah multiformats is pretty active and covered by multiple Q1 sprints. It needs a captain's log. :writing_hand:

[2017-01-14 23:45] lgierth commented on #329
This endeavour can be merged into multiformats

[2017-01-14 23:46] lgierth commented on #330
This endeavour can be merged into dist.ipfs.io

[2017-01-14 23:48] lgierth commented on #331
I think this one is more dead than on the backburner (last meaningful commit in Sep-2015). It could use a few links to similar, but more up-to-date projects.

[2017-01-14 23:49] lgierth commented on #334
cc @substack @mikolalysenko @davidar could you give us an idea of what the medium term plans for maps are?

[2017-01-14 23:50] lgierth commented on #335
Can be merged into documentation endeavour

[2017-01-14 23:53] lgierth commented on #320
Need to create ipfs/ipfs-gateway repo for general information, and write captain's log. There's already a go-ipfs-gateway repo with a couple of good open issues, and which will hold the go implementation once it's extracted from go-ipfs.

[2017-01-14 23:55] lgierth commented on #322
This is an active endeavour in that dist.ipfs.io is used daily, and will likely receive attention with the CI/CD sprints. It still probably needs a captain's log.

[2017-01-15 02:53] substack commented on #334
I'm working on building vector tiles with tilemaker right now on the updated dataset. The files for the new build are still copying to my machine.

[2017-01-15 13:30] davidar commented on #334
waiting for OSM2VTv3/OpenMapTiles to be released :)

[2017-01-15 14:11] hsanjuan commented on #316
I'll give some thought

[2017-01-15 16:09] #224 closed

[2017-01-15 16:11] flyingzumwalt opened #340 "Set plan: Specs"
Establish a Q1 plan for getting the endeavor out of the stale state and update ipfs/ipfs#224.

[2017-01-15 16:11] flyingzumwalt commented on #340
Ref https://github.com/ipfs/pm/issues/228 IPFS Cluster Specs

[2017-01-15 17:20] flyingzumwalt opened #341 "Build IPFS Org Roadmap Wall"
Build Org Roadmap Wall with cards for:
* Sprints
* "Sprintinos"
* Events
* Other Major Milestones

- [ ] Put the cards in ipfs/pm
- [x] Build the wall in Waffle.io https://waffle.io/ipfs/roadmaps

[2017-01-15 17:27] flyingzumwalt opened #342 "Sprint: data.gov (aka 300 TB Challenge)"
See ipfs/archives#87

**Dates**: 16-27 January 2017
**Sprint Milestone**: https://github.com/ipfs/archives/milestone/1
**Team**:
* @flyingzumwalt (PM)
* @whyrusleeping
* @Kubuxu
* @lgierth

[2017-01-15 20:44] flyingzumwalt commented on #309
We need to push the 300TB Challenge Sprint Call back to Tuesday.  @whyrusleeping will be traveling on Monday. Let's do a brief check-in on Monday to figure out what @lgierth & @Kubuxu can work on before Tuesday's "launch" call.

cc @jbenet

[2017-01-15 22:46] jbenet commented on #309
Some things to do that would help, before tue:
- review existing filestore stuff
- review ipfs-pack draft proposal -- https://github.com/ipfs/notes/issues/205
- make a short list of the "big bugs" and "big optimizations" relevant for this sprint. (i can think of a couple -- file attrs, bitswap supporting paths (kills so many RTTs)  -- , but we'll want a good list to have in mind)
- refine the conc

[2017-01-15 23:35] flyingzumwalt commented on #309
Thanks @jbenet. I've added that info to the [data.gov sprint issue](https://github.com/ipfs/archives/issues/87). I'm already working on some of the things you've listed, and created issues for a couple of them in the ipfs/archives repo.

[2017-01-15 23:37] flyingzumwalt commented on #309
@diasdavid are you going to have a call for the "Browser accesses go-ipfs content" sprint tomorrow? It wasn't on the schedule so I added it, but now I'm wondering if you left if off the schedule intentionally.

[2017-01-15 23:46] kevina commented on #309
Note, in case I am needed: I probably won't attend the all hands meeting but will be available that day on IRC.  I will _not_ be able to attend any meeting on Tuesday unless its after 22:00 UTC.  I _will_ be available Wednesday.

[2017-01-16 00:13] flyingzumwalt opened #343 "Sprint: Solidify IPLD"
## Objectives

- [x] dag API
  - [x] decision: not mess with types https://github.com/ipfs/interface-ipfs-core/issues/81 @whyrusleeping + @diasdavid
  - [x] ipfs dag API
    - [x] spec @diasdavid + @whyrusleeping
      - [x] cli https://github.com/ipfs/specs/pull/150
      - [x] core https://github.com/ipfs/interface-ipfs-core/tree/master/API/dag#dag-api
    - [x] impl in JS @diasdavid
    - [x] i

[2017-01-16 00:15] flyingzumwalt commented on #343
@nicola is also on this sprint -- couldn't add him as an assignee because he wasn't a collaborator on this repo yet (waiting for confirmation of invite)

[2017-01-16 00:17] flyingzumwalt opened #344 "Sprint: CI/CD/Testing Infra/Automation"
## Objectives
- Setting up Jenkins with configuration from SCM
- Be faster than Travis on go-ipfs commit to green status
  - Measure time from commit to green status
  - Make sure it's fast
- Go/JS-ipfs unit and integration tests
- Artifacts/Pipelines flow
- Replace Teamcity/TravisCI with Jenkins
- Simulate failures of the Testing Infra
- Runs tests on
  - Linux
  - OSX
  - Windows
- Trusted machi

[2017-01-16 00:18] flyingzumwalt opened #345 "Sprint: Orbit #1 Release Process"
*Updated by @haadcode after original posting*

**Objective:**

Make Orbit easily downloadable and accessible.

**Goals:**

- We'll focus on fixing the remaining issues with pubsub and improve orbit's correctness.
- We'll make the Electron app easily downloadable and document how to make releases.
- We'll make Orbit available at https://orbit.chat and document how to deploy a new release.
- We'll m

[2017-01-16 00:21] flyingzumwalt opened #346 "Event: FOSDEM"
See https://github.com/ipfs/community/issues/194

[2017-01-16 00:22] flyingzumwalt opened #347 "Event: Seattle DApp Hackathon - Ethereum ❤️ IPFS"
See https://github.com/ipfs/community/issues/188

[2017-01-16 00:24] flyingzumwalt opened #348 "Website - libp2p"

[2017-01-16 00:25] flyingzumwalt opened #349 "Website - Multiformats"

[2017-01-16 00:25] flyingzumwalt opened #350 "Website - IPLD"

[2017-01-16 00:27] flyingzumwalt opened #351 "Sprint: IPFS in Web Browsers"
**Main Repository**: https://github.com/ipfs/in-web-browsers
**Milestone for this Sprint**: https://github.com/ipfs/in-web-browsers/milestone/1
**Waffle Board:** https://waffle.io/ipfs/in-web-browsers

## Team for this Sprint

- flyingzumwalt (pm), diasdavid, haadcode, dignifiedquire, lgierth, victor, whyrusleeping

## Top-Level Objectives

This is part of the overall Path to Native Browser Suppor

[2017-01-16 00:28] flyingzumwalt opened #352 "Private Networks"
## Objectives

- Finalize PSK Private Networks
- Write User Docs
- Merge to go-ipfs
- Release with next release

## Team for this Sprint
- @Kubuxu

## Dependencies
- review and requirements from @jbenet

[2017-01-16 00:29] flyingzumwalt opened #353 "Cluster Features"
* [Addressed most of rough edges (Juan's feedback etc)](https://github.com/ipfs/ipfs-cluster/milestone/1)
* [Adding and removing nodes is easy](https://github.com/ipfs/ipfs-cluster/milestone/2)
* [Replication factor for tracked items](https://github.com/ipfs/ipfs-cluster/milestone/3)

[2017-01-16 00:31] flyingzumwalt opened #354 "Sprint: InterPlanetary Test Lab"
## Objectives

- Be able to script and control a large cluster of IPFS nodes
- Be able to plug hardware in and out seamlessly
- Be able to define workloads based (short and long) to run
- Be able to issue independent test suite jobs to the network
- Be able to configure a sub-network, with resource limitations (link bandwidth, link latency, machine platform, memory, storage, etc).
- Be able to def

[2017-01-16 00:32] flyingzumwalt opened #355 "Sprint: Orbit #2 Stability"
**Objective:**

Improve Orbit stability by writing integration tests.

**Goals:**
- Write integration tests in Test Lab
- Fix integration test issues

[2017-01-16 00:33] flyingzumwalt opened #356 "Event: Code4Lib"
See https://github.com/ipfs/community/issues/223

[2017-01-16 00:36] flyingzumwalt opened #357 "Sprint: Delightful Documentation"
A major sprint with all core maintainers entirely focusing on Documentation for 2 weeks.

## Objectives

- Remove/delete/burn outdated documentation
- Overview lists and diagrams for the whole IPFS stack
- Code examples for all layers of the IPFS stack, and how they fit together
- Overhauling examples on the website
- Adding usage and API sections to current ipfs and libp2p modules
- Checking all

[2017-01-16 00:37] flyingzumwalt opened #358 "Sprint: Browser uses DHT to discover content"
## Objectives

- js-datastore
  - [x] interface-datastore
  - [x] js-datastore-level-db
  - [x] js-datastore-fs
  - [x] js-datastore-indexed-db
- [x] libp2p-dht https://github.com/libp2p/js-libp2p-dht/pull/1#issue-198376271
- [x] Get bootstrappers to speak Browser WebSockets https://github.com/ipfs/js-ipfs/pull/740
- [ ] Relay
  - [x] Finish the spec https://github.com/libp2p/specs/pull/15
  - [ ]

[2017-01-16 00:38] flyingzumwalt opened #359 "Sprint: Orbit #3 Towards Alpha"
**Objective:**

Improve Orbit stability by writing integration tests.

**Goals:**
- Presence (see who else is in a channel, ie. who you're connected to) - need feature design
- Connectivity UI feedback (when things fail, display clear error messages of what went wrong) - need feature design
- Fix message fetching bugs (correctness)
- Web version deployed at https://web.orbit.chat
- orbit-core (npm

[2017-01-16 00:38] flyingzumwalt opened #360 "Cluster Testing/Stability"
* Benchmarking of Cluster
* Testing of cluster on the CI infrastructure (depends on #354 )
* Auto-builds and deployment to dist.ipfs.io

[2017-01-16 00:43] flyingzumwalt opened #361 "Handle Stale Endeavors"
See https://github.com/ipfs/pm/milestone/5

**Captain**: @flyinzumwalt
**Due**: Week 6

The info about the endeavors will be recorded in the ipfs/ipfs Roadmap. See PR: https://github.com/ipfs/ipfs/pull/224

This issue will be "done" when we
- [ ] have a list of all endeavors, their captain, and their status
- [ ] have a plan for how each endeavor will be handled in the coming quarter (ie. "[remedi

[2017-01-16 00:45] flyingzumwalt opened #362 "Get rolling with labels-and-milestones"
Captain: @flyingzumwalt

Get labels-and-milestones working so project leads can manage their waffle boards across multiple repositories.

[2017-01-16 01:12] flyingzumwalt opened #363 "Create Guide: Keeping Endeavors Fresh"
Create a guide on Keeping Endeavors Fresh.

* Link to list of stale endeavors
* Diagnosis of why endeavors go stale and how that can weigh down a team
* Remedies
  * Captains Log entries
  * Putting an endeavor on the Back Burner vs. "Setting it Free"
  * etc..

[2017-01-16 01:26] flyingzumwalt commented on #363
nevermind. Made a PR instead. See #364

[2017-01-16 01:26] #363 closed

[2017-01-16 01:37] flyingzumwalt opened #365 "Publish Q1 2017 Roadmap"
- [x] Post Roadmap in [waffle board](https://waffle.io/ipfs/roadmaps)
- [ ] Announce on the All Hands call
- [ ] Update Roadmap.md in ipfs/ipfs
- [ ] Blog Post? https://github.com/ipfs/blog/issues/90

[2017-01-16 01:41] flyingzumwalt commented on #365
In blog post, if we write it, we should discuss
* stale endeavors
* lessons learned about kanban (loosely coordinated vs. not coordinated)
* thrashing
* sprints, sprintinos

[2017-01-16 03:58] diasdavid commented on #310
# David's Check in Mon 16

- Flying out to Lisbon today during the morning ✈️
- Available for the calls later
- Will use the remaining available time to focus on working on webrtc-direct and integrating it in webrtc-star, hope to have it done by the end of the day in a state that is deployable.

[2017-01-16 04:38] diasdavid commented on #365
Thank you @flyingzumwalt :) Love all the issues 🌟

[2017-01-16 07:53] haadcode commented on #310
I'll be working on the following today:
- Design the interop examples
- Implement skeletons for the examples
- Open issues and PRs for tracking the work
- Weekly calls
- [ ] Update Waffle

I don't have any blockers atm. Will need feedback for examples soon.

[2017-01-16 08:25] VictorBjelkholm commented on #310
Gonna be working on finishing @dignifiedquire's implementation of multiplex. To track: libp2p/js-libp2p-multiplex#44

[2017-01-16 13:27] diasdavid commented on #309
@flyingzumwalt I see I miscommunicated my proposal. What I intended is to have 1 hour to sync between sprints, since we have at max 3 at the same time, it means each group has 20 minutes to update where they are and sync any missing detail.

I don't think we need a space for intense discussion about the sprint, as we will have that later in the week and we will be constantly checking in. The benef

[2017-01-16 15:32] lgierth commented on #309
I'd rather not lead the all hands call since I'm getting sick and my throat hurts. Can someone else cover?

[2017-01-16 16:09] flyingzumwalt commented on #309
@diasdavid there were multiple proposals. I've had trouble keeping track. For today's call, I'm fine with spending the hour (or less) after the all-hands doing a "sync between sprints". We can also use that time to settle on a good format for the monday calls.

I was running on the idea that after the all hands the sprints would, in parallel, do something like a [Sprint Planning Meeting](https://w

[2017-01-16 16:50] RichardLitt commented on #309
@lgierth I got it. :)

[2017-01-16 18:40] lgierth commented on #310
Damn I was pretty sure I posted earlier.

- No blockers
- Current: looking into relay in go-ipfs, what needs fixing, and how to actually make use of it.
- Next: /wss prespec

[2017-01-16 18:44] victor commented on #310
I don't care about this, sorry, but if you feel this way you'll work better, then go for it 👍🏼

Enviat des del meu iPhone

El 16 gen 2017, a les 19:40, Lars Gierth <notifications@github.com> va escriure:

[2017-01-16 18:52] lgierth commented on #310
@victor uhm, are you trying to tell use anything related to this sprint?

[2017-01-16 18:57] em-ly commented on #365
I think having a blog post for the kick off of the new quarter is a great idea. started an issue on that here: https://github.com/ipfs/blog/issues/90

[2017-01-16 19:03] diasdavid commented on #310
@victor my apologies for bothering you, apparently we tagged you instead of @VictorBjelkholm. Fixed now, you can unsubscribe to this issue.

[2017-01-16 19:07] lgierth commented on #310
Ah that makes sense, sorry victor!

[2017-01-17 00:33] kevina commented on #309
Tuesdays are bad for me.  But, unless there is a major misunderstanding, the data.gov sprint involves me. So I will see what I can do to attend.  For the record (and not aimed at anyone in particular) I do not appreciate the suddenness of this Sprint or the fact that I was never directly notified.

[2017-01-17 08:23] diasdavid commented on #310
# David's `check in` `Mon 17`

- [ ] Integrate webrtc-direct in webrtc-star
- [ ] test behind https
- [ ] deploy it as a new signalling server
- [ ] review haads first example
- [ ] fix interop tests in js-ipfs
- [ ] release 0.21

[2017-01-17 08:35] haadcode commented on #310
Yesterday:
- Implemented the browser side of things for the first example ("basic"), and with it you can .cat pictures between browser nodes (try it from https://github.com/ipfs/js-ipfs/pull/714).
- Drafted a skeleton for a tutorial for the basic example.

Today:
- Implement first version of the second example ("advanced")
- Continue writing the tutorial
- Test the actual interop with the basic ex

[2017-01-17 12:39] RichardLitt commented on #309
@kevina Understood. Thank you for being honest.

[2017-01-17 15:15] flyingzumwalt commented on #309
Moved the sprint planning call for data.gov to 10:00 PST/**18:00 UTC** because @jbenet and @whyrusleeping will be sleeping until then. That's as far back as I can push it. @kevina after the call I will have a better sense of how this sprint impacts you.

[2017-01-17 15:31] diasdavid commented on #310
Notes from pull-multiplex extravaganza discussion: https://hackmd.io/KYdmGMAYQVgTgLQgMwCYAcCAsJ2PQGzgBmCAhsQIyXhbCqRwAmMQA===?edit

[2017-01-17 15:50] lgierth commented on #310
Yesterday I examined the relay impl in go-ipfs. It's not wired up with anything and doesn't provide end-to-end encryption. I've described a way forward

- Blockers: feedback on relay-as-a-transport (see above).
- Current: adding multiaddr codes for /relay, /wss, /dns to go-ipfs
- Next: implement relay-as-a-transport and wire it up

[2017-01-17 16:58] kevina commented on #309
@flyingzumwalt I completely understand.  Unfortunately at that time it will be even more difficult for me to attend.  If at all possible please make sure to record it.  I might be able to follow up via GitHub or IRC later today.

[2017-01-17 21:42] jbenet commented on #303
@johndpope the gist is: we need help doing so! there's a ton to do!

[2017-01-18 08:56] diasdavid commented on #310
# David's `check in` `Wed 18`

- [ ] make sure that having mdns discovery and webrtc-star discovery doesn't freat out js-ipfs (write tests for it)
- [ ] Chase @whyrusleeping to get back to me on "fix mdns interop between go-ipfs and js-ipfs libp2p/go-libp2p#176"
- Work on DNS for JS

[2017-01-18 09:23] diasdavid commented on #102
To make sure that no one accidently deletes the notes, pasting them here:

----------------

# multiaddr discussion

## DNS

- https://github.com/multiformats/multiaddr/issues/22

- when using `/dns/name.com/ipfs/<key>`, we may end up with
  many different nodes, who should not be sharing `<key>`.
  we can have them present a per-node key `<key-i>` that
  is signed by `<key>`. (certificate chain s

[2017-01-18 13:55] haadcode commented on #310
End of the day check in:
- Yesterday I started working on the "advanced" (second) example for interop.
- Today I continued on it and made a WIP PR: https://github.com/ipfs/js-ipfs/pull/716. The UI and browser side is pretty much done, next step is to interopopopop.
- Will be traveling rest of today --> afk

Tomorrow:
- Make the interop work
- Continue writing the tutorials

Blockers:
- I couldn't

[2017-01-18 14:02] diasdavid commented on #310
@haadcode by using webrtc-star, they will find each other automatically, however it would be good, since go-ipfs won't have that feature, that you use websockets addr in the js-ipfs node and that in the demo page, you have a box saying "multiaddr to dial". Which reminds me, it would be ideal to have a list of peers connected visual in the webdemo

[2017-01-18 15:16] lgierth commented on #310
- No blockers
- Yesterday: added /dns, /libp2p-relay, /wss to the protocols list in multiaddr (multiformats/multiaddr#34), and to go-multiaddr (multiformats/multiaddr#46.
- Current: working on turning go-libp2p's RelayService into a transport (libp2p/go-libp2p-relay).
- Next: add config options to enable relay.

[2017-01-18 18:58] RichardLitt commented on #309
@flyingzumwalt Do you think we ought to have video calls next Monday?

[2017-01-18 19:09] RichardLitt commented on #309
Sounds good. Will create a sprint issue, then.

[2017-01-18 19:12] RichardLitt opened #366 "Monday Calls: January 23rd"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-01-18 22:45] jbenet commented on #309
Hey @kevina -- there's a lot moving very suddenly, so i'll try to summarize the missing context behind the sudden changes. Sorry, this all came out suddenly. Please excuse the very lengthy and wordy outpouring here; if I had more time, i would be more succinct and clear. Hopefully it provides you the context you need. Please know you are very welcome to be involved in the sprint, and that I did no

[2017-01-18 23:02] kevina commented on #309
@jbenet anytime this Friday would be fine for me.

[2017-01-18 23:04] lgierth commented on #309
Yes we'll do the same kind of check-in as three days ago -- we probably won't exhaust the full 60 minutes though.

[2017-01-18 23:23] kevina commented on #309
We should probably take this off this issue, but for a lack of a better place:

@jbenet

My coding style can sometimes be a bit unconventional.  I have a felling that these "serious" problems you found may be due to some misunderstanding that I would like to clear up ASAP.  But before I can do that I need to know some examples of what they are.  Also it would be helpful to know what version you re

[2017-01-19 08:44] diasdavid commented on #310
# David's `check in` `Thu 19`

- Continue working on DNS for JS multiformats/js-multiaddr#37 (see list of tasks inside this issue)

[2017-01-19 09:00] jbenet commented on #309
@kevina yeah maybe email me :smile: 👍

[2017-01-19 09:53] haadcode commented on #310
After yesterday's check in:
- Tried js-ipfs(nodejs) and js-ipfs(browser) interop without success. Getting segfaults sometimes and .cat is not working either way, but I do get the peers connected. I need to discuss this in sync today, will ping relevant people on IRC:
- Added a list of connected peers to the UI of the second example (file manager)

Today:
- Will add the missing UI elements for manu

[2017-01-19 10:00] diasdavid commented on #310
I've noticed that folks aren't giving love to the waffle board, what's up?

[2017-01-19 14:39] RichardLitt commented on #344
I believe that this includes making sure that all repos can have testing, do. Which means I can do some work to make sure that project-repos works well for tracking this.

[2017-01-19 14:44] RichardLitt commented on #331
Plan:
- [ ] Set up a clear status for projects like this: backburned - closed for now, waiting for feedback
- [ ] Mark the README according to what was decided above
- [ ] Close any open issues or PRs so there are no long-standing threads which make it look open
- [ ] Remove it from any project directory where it is listed as a current endeavor

[2017-01-19 14:45] RichardLitt commented on #313
I believe that this will be done as part of the prep for the Documentation sprint. I wouldn't call this a stale state, either - the awesome API endeavor is still being worked on AFAIK.

[2017-01-19 17:16] diasdavid commented on #310
# Group Check In Jan 19, Thu

Notes: https://hackmd.io/GYTgJmCMDsDMwFoBMBTJAOBAWADAI0gTwGMwkF0A2LMSnYPdYaEIA===?both

Top priorities before the weekend:

- [ ] Get cert for signal.libp2p.io (@lgierth)
- [ ] Get signal.libp2p.io deployed with http and https (no HSTS header) (@lgierth)
- [ ] Review both examples (@diasdavid)
  - [ ] https://github.com/ipfs/js-ipfs/pull/714
  - [ ] https://github.com

[2017-01-19 17:28] dignifiedquire commented on #313
As far as I understand stale means it is not being sprinted on, but this will be sprinted on in a couple of weeks as far as I know.

[2017-01-19 18:33] RichardLitt commented on #310
@haadcode Can we schedule a short video call for talking about this? I haven't been tracking this sprint, and the state is not in my head. I should have some bandwidth to help, however.

[2017-01-20 09:27] diasdavid commented on #310
# David's `check in` `Thu 19`

- [ ] Review @haadcode js-ipfs tutorials
- Hopefully, last push to finish on DNS for JS multiformats/js-multiaddr#37 (see list of tasks inside this issue)

[2017-01-20 10:49] diasdavid commented on #310
@RichardLitt definitely have that chat with @haadcode but here are some good things to read:

- Debugging through Browser and Node.js (or Go for what is worth) issues - https://github.com/ipfs/js-ipfs/issues/720#issuecomment-273751466
- Simple Example (cat) - https://github.com/ipfs/js-ipfs/pull/714
- Advanced Example (File Browser) - https://github.com/ipfs/js-ipfs/pull/716
- Description of the e

[2017-01-21 16:48] nicola commented on #343
Was "IPLD Selector Spec" really part of this sprint?
I happen to be doing work on this in the past few days, I thought we did not consider it

[2017-01-21 22:17] lgierth commented on #342
Waffle board for this sprint: https://waffle.io/ipfs/archives?milestone=Data.gov%20(aka%20300%20TB%20Challenge)

[2017-01-22 14:35] diasdavid commented on #343
I don't know how they appeared in the list.. I didn't have any discussion that it would be a goal of the sprint. Yet, we might do a lot of work or even push ourselves to do it.

[2017-01-23 10:39] diasdavid commented on #310
# David's `check in` `Mon 23`

Plan:

- [ ] Review @haadcode examples
- Participate in @haadcode handoff to @RichardLitt
- Catch up with @pgte (he is coming to Lisbon today), plan the rest of the week
- Attends All Hands calls
- Help out speed up the Stream Muxer situation https://github.com/ipfs/js-ipfs/issues/721

[2017-01-23 12:09] hsanjuan commented on #228
I'm adding a roadmap file now and this is outdated from previous quarter so I'm closing.

[2017-01-23 12:09] #228 closed

[2017-01-23 17:33] RichardLitt commented on #366
We will start the Sync Between Sprints meeting five minutes early, at 17:38.

[2017-01-23 22:08] flyingzumwalt opened #368 "Consolidate or Clean Up & Update all the Scattered Roadmaps"
Consolidate or Clean Up & Update the many Roadmaps:

* ipfs/ipfs [ROADMAP.md](https://github.com/ipfs/ipfs/blob/master/ROADMAP.md)
* The [Q1 Roadmap Waffle Board](https://waffle.io/ipfs/roadmaps)
* The go-ipfs "[dev pseudo-roadmap](https://github.com/ipfs/go-ipfs/blob/master/dev.md)" which is referenced by https://github.com/ipfs/go-ipfs/blob/master/contribute.md
* go-ipfs [roadmap.md](https://git

[2017-01-23 22:24] RichardLitt opened #369 "Rename 'Sprint' label"
@flyingzumwalt recently co-opted the `sprint` label to refer to project management issues that refer to sprints, whereas previously it was used for the issues that had the times for sprint calls in them. This was a hangover from an earlier period where we actually discussed our projects in sprint issues. However, this now makes it hard to find the issue saying where the calls are, as there are mul

[2017-01-23 22:28] flyingzumwalt commented on #369
:+1:

[2017-01-23 22:40] RichardLitt commented on #369
Done.

[2017-01-23 22:40] #369 closed

[2017-01-24 01:44] lgierth commented on #310
Lars monday
- Blockers
  - CR, but no real "blocker" blockers
- Last
  - Deployed two hosts running go-ipfs with /ws listeners (not wired to nginx yet)
  - SSL cert for star-signal.cloud.ipfs.team
- Today
  - Circuit relay proposal for review before implementation

[2017-01-24 12:29] diasdavid commented on #310
# David's `check in` `Tue 24`

- Continue speeding up Pedro on things
- Continue helping @VictorBjelkholm with the Stream Muxer situation (made a lot of progress yesterday, still ongoing)
  - [ ] Fix multiplex 'clean itself out' tests
  - [ ] Understand why the heck go-multiplex limits to 1024

[2017-01-24 16:07] lgierth commented on #310
Lars tuesday
- Blockers
  - no real "blocker" blockers
- Yesterday
  - circuit-relay prespec and ethereum meetup
- Today
  - circuit-relay prespec
  - /ws bootstrappers

[2017-01-24 16:59] diasdavid commented on #343
@nicola did you remove yourself from this Sprint?

[2017-01-24 17:03] diasdavid commented on #343
# Prep session doodle http://doodle.com/poll/yk6xu87q3xxrqyhk

@whyrusleeping @nicola please add your availabilities.

[2017-01-24 17:16] jefft0 commented on #351
Is there an issue for how IPFS bookmarks would be handled in the browser?

[2017-01-24 21:54] jbenet commented on #366
what is the stream link? it's wrong here

[2017-01-24 21:54] jbenet commented on #366
https://www.youtube.com/watch?v=jCPpyoNxoJc

[2017-01-24 22:59] nicola commented on #343
@diasdavid I will be in Palo Alto (sorry for the bad timing)

[2017-01-25 10:01] diasdavid commented on #310
# David's `check in` `Wed 25`

- Focus of this day will be doing an last pass on the examples and doing the 'documentation from 0 to hero'

[2017-01-25 15:36] RichardLitt opened #370 "Monday Calls: Jan 30-Feb 05"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-01-25 15:58] flyingzumwalt commented on #370
@richard the data.gov sprint ends on the 27th, so no more standup calls for that sprint.

[2017-01-25 17:03] RichardLitt commented on #370
@flyingzumwalt I automatically created this using the template from the last week. Can we edit the template for the next one? Should I just remove that section, or make the title change?

I've made a bot to make these issues in the future. See [node-github-issue-bot](https://github.com/ipfs/node-github-issue-bot).

[2017-01-25 17:05] flyingzumwalt commented on #370
Leave that section out. Allow people to add info like that if they need to. It's up to the sprint teams to decide how they will do their daily check-ins. As the PM for then data.gov Sprint I added that section because we decided to do daily standup calls. I think it's best to allow future teams to do the same.

[2017-01-25 17:12] whyrusleeping commented on #343
@diasdavid I don't think i can make any of those times, The most likely is 10am friday morning (the rest of the times are all too early in the morning)  but i don't have more than an hour of availability there.

[2017-01-25 17:27] RichardLitt commented on #310
@RichardLitt today:
- Worked on [node-github-issue-bot](https://github.com/RichardLitt/node-github-issue-bot), hoping to find some time today to work on this.

[2017-01-25 22:19] diasdavid commented on #343
@whyrusleeping 9am doesn't work for you? What about right after the all hands? Any proposed solution?

[2017-01-25 22:22] diasdavid commented on #343
Added another hour (yours 10pm Thursday) http://beta.doodle.com/poll/yk6xu87q3xxrqyhk @nicola @whyrusleeping

[2017-01-25 22:24] flyingzumwalt commented on #177
We've settled on using a waffle board like https://waffle.io/ipfs/roadmaps plus updates to the ROADMAP.md in ipfs/ipfs

[2017-01-25 22:24] #177 closed

[2017-01-25 22:35] #253 closed

[2017-01-25 22:38] flyingzumwalt commented on #357
related: https://github.com/ipfs/community/issues/214, https://github.com/ipfs/community/issues/215

[2017-01-26 00:50] lgierth commented on #310
Last wednesday
- No blockers
- Yesterday
  - Wanted to get circuit-relay prespec done, but got distracted by 0.4.5 release prep and pinbot/gateway debugging.
- Today
  - circuit-relay prespec
  - Provisioned a host for the 300TB sprint

[2017-01-26 04:20] lgierth commented on #310
circuit-relay prespec: libp2p/go-libp2p-relay#1 -- feedback much appreciated, sorry this document gets written so late in the sprint.

[2017-01-26 08:51] diasdavid commented on #310
# David's `check in` `Wed 25

[2017-01-26 15:15] lgierth commented on #310
Lars thursday
- No real blockers
- Yesterday
  - posted circuit-relay prespec libp2p/go-libp2p-relay#1
- Today
  - go-ipfs multiaddr update
  - 0.4.5 release prep

[2017-01-26 17:07] diasdavid commented on #310
# The last mile

- [ ] Host WebSockets Secure Bootstrapers @lgierth
- [ ] Tutorials
  - [ ] Transfers Files
    - [ ] DX/UX - @VictorBjelkholm
    - [ ] Tutorial Steps @RichardLitt
  - [ ] File Feed
    - [ ] Review and complete example @diasdavid
    - [ ] DX/UX - @VictorBjelkholm
    - [ ] Tutorial Steps @RichardLitt
- @lgierth will check https://github.com/libp2p/go-libp2p/issues/176
- Update I

[2017-01-26 18:59] RichardLitt commented on #366
In the future, I or @dignifiedquire will change the link to reflect the video that the stream was saved too. This should clear that up.

[2017-01-26 19:16] diasdavid commented on #343
# Prep session notes: https://hackmd.io/MYFgHMAMBGDsBmBaaATAzAJkSDBTAbIgJySyyICM0ArNAIbDV4h1FA==?edit

[2017-01-27 16:05] flyingzumwalt opened #373 "Sprint Retrospectives 2017-01-27"
Sprint Retrospectives for #310 and #342

Time: Friday 27 January 2017 17:00 UTC

zoom session: https://zoom.us/j/745987481

[Agenda and Notes](https://hackmd.io/EYFgxgJgpgrCCGBaYBGYNHgEwmfAnAGyKEBmhF+MWwAHFAMxA===)

[2017-01-27 18:47] #373 closed

[2017-01-30 02:34] lgierth commented on #310
Here are two /ws bootstrappers which also have the gateway on the same port:

[code]

These *should* also work on `/tcp/443/wss` but I haven't tested it, as I have yet

[2017-01-30 02:37] lgierth commented on #310
The respective /dns+/wss addresses:

[code]

and https://strawberry.i.ipfs.io + https://blueberry.i.ipfs.io for the gateway.

[2017-01-30 03:11] lgierth commented on #310
For deferring routing to the gateway:

- dht/findprovs: https://strawberry.i.ipfs.io/api/v0/dht/findprovs?arg=QmaYRrBpZQRjonxBpBBSLvYmy893ySPpXpHCakhomaQtkU
- dht/findpeer: https://blueberry.i.ipfs.io/api/v0/dht/findpeer?arg=QmWyLSnMHW2H6bmCG9e9PQq4ARve94JduvGjbutUuzx4a8

And you can use `api/v0/refs?r=true` to warm up the /ws bootstrapper/gateway with a stuff added on other go-ipfs nodes. That wa

[2017-01-30 06:46] haadcode commented on #345
We've had some reshuffling on who's working on this sprint. We'll have to re-scope the content of the sprint as it's going to be just me and @RichardLitt in this sprint. We'll have a planning meeting today and see what we can commit to.

My current thinking is we'll focus on the correctness related task and the release process. We should also work on moving the repos under https://github.com/orbit

[2017-01-30 08:56] diasdavid commented on #345
I don't believe adding to CI to be always run will be good (our poor CI already takes so long) and it will be a cat and mouse game because then we have to be updating as you go (and when to update what)

I do believe though that it should be part of the release process as we did -- https://github.com/ipfs/js-ipfs/issues/712 -- it just needs to be formalized.

[2017-01-30 12:07] diasdavid commented on #343
# David's check-in Mon 30

- Clean up last things from last sprint
- Doctor appt
- [ ] Update dag-cbor to use tags
- [ ] Revisit js-ipfs DAG API (finish get + put + delete)

[2017-01-30 15:23] dignifiedquire commented on #345
Maybe we can work together with @VictorBjelkholm and @Kubuxu to make sure we can run these tests as part of our new CI setup?

[2017-01-30 15:45] VictorBjelkholm commented on #344
Waffle board for tracking the work: https://waffle.io/ipfs/jenkins
Work happening in this repository: https://github.com/ipfs/jenkins

[2017-01-30 18:04] haadcode commented on #345
I'm ok either way. @RichardLitt or me will open an issue in js-ipfs this week to follow up on this.

[2017-01-30 20:43] nicola commented on #343
# Nicola's check-in Mon 30
- [ ] provide david's examples
- [ ] progress with the tutorial (https://github.com/ipld/website/pull/27)
- [ ] progress with simple spec writing (https://github.com/ipld/specs/pull/12)
- [ ] write down first attempt at IPLD Selectors

[2017-01-31 10:54] diasdavid commented on #343
# David's check-in Mon 30

Update from yesterday:
- Didn't have time to go through things as much as I wanted, but did a good catch up with Kumavis on prep for DAppHackathon and expanded the list of tasks here to be more discriptive

Today:
- [x] Upgrade dag-cbor to use tags
- [x] Break the DAG API into 3 different PR (basics, resolve and workbench)
- [ ] DAG API basics
  - [x] interface definitio

[2017-01-31 12:52] diasdavid commented on #343
@whyrusleeping need your input (urgent) on https://github.com/ipfs/interface-ipfs-core/issues/81

[2017-01-31 13:27] VictorBjelkholm commented on #344
Notes from todays standup:

# Sprint CI - Standup 2016-01-31

## lgierth
### done
- looked into metrics
- adding plugin to jenkins, pending review
- wired up with grafana & production prometheus via cjdns
### working on
- not sure what to work on next
- write documentation for how to wrire up with grafana
### blockers
- waiting for jenkins deploy to production
### questions

## Kubuxu
### done
 -

[2017-01-31 15:50] haadcode commented on #345
I've update the original issue to reflect the plan for this sprint, see https://github.com/ipfs/pm/issues/345#issue-200908573.

@RichardLitt see the TODO I left you for opening an issue to track adding orbit tests to the js-ipfs release process as per our discussion yesterday (and the comments above).

[2017-01-31 16:21] haadcode commented on #345
I've updated the Orbit's board at https://waffle.io/haadcode/orbit. You'll see the planned goals in the "Backlog" column and the ones "In Progress" are currently being actively worked on. There are additional cards in both that are random bugs etc. to be verified to be fixed as we go.

[2017-01-31 17:56] RichardLitt commented on #345
Opened.

[2017-01-31 22:40] diasdavid commented on #343
@whyrusleeping, @gozala is trying to resolve base16 encoded values in CIDv1, but without success, I also tried and no go, what are we forgetting here?

From IRC

[code]

[2017-02-01 12:00] RichardLitt opened #377 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:01] RichardLitt opened #378 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:02] RichardLitt opened #379 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:03] RichardLitt opened #380 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:04] RichardLitt opened #381 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:05] RichardLitt opened #382 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:06] RichardLitt opened #383 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:07] RichardLitt opened #384 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:08] RichardLitt opened #385 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:09] RichardLitt opened #386 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:10] RichardLitt opened #387 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:11] RichardLitt opened #388 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:12] RichardLitt opened #389 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:13] RichardLitt opened #390 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:14] RichardLitt opened #391 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:15] RichardLitt opened #392 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:16] RichardLitt opened #393 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:17] RichardLitt opened #394 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:18] RichardLitt opened #395 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:19] RichardLitt opened #396 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:20] RichardLitt opened #397 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:21] RichardLitt opened #398 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:22] RichardLitt opened #399 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:23] RichardLitt opened #400 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:24] RichardLitt opened #401 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:25] RichardLitt opened #402 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:26] RichardLitt opened #403 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:27] RichardLitt opened #404 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:28] RichardLitt opened #405 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:29] RichardLitt opened #406 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:30] RichardLitt opened #407 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:31] RichardLitt opened #408 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:32] RichardLitt opened #409 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:33] RichardLitt opened #410 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:34] RichardLitt opened #411 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:35] RichardLitt opened #412 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:36] RichardLitt opened #413 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:37] RichardLitt opened #414 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:38] RichardLitt opened #415 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:39] RichardLitt opened #416 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:40] RichardLitt opened #417 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:41] RichardLitt opened #418 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:41] #393 closed

[2017-02-01 12:41] #394 closed

[2017-02-01 12:41] #395 closed

[2017-02-01 12:41] #396 closed

[2017-02-01 12:41] #397 closed

[2017-02-01 12:41] #398 closed

[2017-02-01 12:41] #399 closed

[2017-02-01 12:41] #400 closed

[2017-02-01 12:41] #401 closed

[2017-02-01 12:41] #402 closed

[2017-02-01 12:41] #403 closed

[2017-02-01 12:41] #404 closed

[2017-02-01 12:41] #405 closed

[2017-02-01 12:41] #406 closed

[2017-02-01 12:41] #407 closed

[2017-02-01 12:41] #408 closed

[2017-02-01 12:41] #409 closed

[2017-02-01 12:41] #410 closed

[2017-02-01 12:41] #411 closed

[2017-02-01 12:41] #412 closed

[2017-02-01 12:41] #413 closed

[2017-02-01 12:41] #414 closed

[2017-02-01 12:41] #415 closed

[2017-02-01 12:41] #416 closed

[2017-02-01 12:41] #417 closed

[2017-02-01 12:41] #378 closed

[2017-02-01 12:41] #379 closed

[2017-02-01 12:41] #380 closed

[2017-02-01 12:41] #381 closed

[2017-02-01 12:41] #382 closed

[2017-02-01 12:41] #383 closed

[2017-02-01 12:41] #384 closed

[2017-02-01 12:41] #385 closed

[2017-02-01 12:41] #386 closed

[2017-02-01 12:41] #387 closed

[2017-02-01 12:41] #388 closed

[2017-02-01 12:41] #389 closed

[2017-02-01 12:41] #390 closed

[2017-02-01 12:41] #391 closed

[2017-02-01 12:41] #392 closed

[2017-02-01 12:41] #418 closed

[2017-02-01 12:42] RichardLitt opened #419 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:42] #419 closed

[2017-02-01 12:43] RichardLitt opened #420 "Monday Calls: Feb 06-12"
_For information about these calls and how they work, read [the ipfs/pm README](https://github.com/ipfs/pm)._

[Calendar](https://calendar.google.com/calendar/embed?src=ipfs.io_eal36ugu5e75s207gfjcu0ae84@group.calendar.google.com)

Zoom and Stream links will be updated directly before the calls. Links to them will also be dropped in IRC, at the start of each call. If the link below seems to link t

[2017-02-01 12:46] #420 closed

[2017-02-01 13:20] VictorBjelkholm commented on #344
Notes from today's standup:

# Sprint CI - Standup 2017-02-01

## lgierth
### done
- not a terribly lot
- variable/templating tool for provsn
### working on
- inspecting how jenkins runs
### blockers
- monitoring blocked by production jenkins
### questions

## Kubuxu
### done
- prepping for exam
### working on
- starting on dockerfile for go-ipfs
### blockers
- stuck on how to deal with gx on dist

[2017-02-01 13:36] RichardLitt commented on #377
I apologize for the 50~ duplicates of this issue. The cronjob has been fixed, and I'm going to ask around on how to test these in the future better. It was an obvious error that should have been caught.

[2017-02-03 13:16] VictorBjelkholm commented on #344
Notes from yesterday's standup:

# Sprint CI - Standup 2017-02-02

## lgierth
### done
  - wired the metrics to production prometheus
  - nginx wired, domain ci.ipfs.team
### working on
  - getting SSL for Jenkins
### blockers
### questions

## Kubuxu
### done
- docker container for go-ipfs running
- simple pipeline for these
### working on
- separate stages for parts of the build and tests
- para

[2017-02-03 13:16] VictorBjelkholm commented on #344
Notes from todays standup:

# Sprint CI - Standup 2017-02-03

## lgierth
### done
  - wired the metrics to production prometheus
  - nginx wired, domain ci.ipfs.team
### working on
  - getting SSL for Jenkins
### blockers
### questions

## Kubuxu
### done
- docker container for go-ipfs running
- simple pipeline for these
### working on
- separate stages for parts of the build and tests
- paralleli

[2017-02-06 13:24] VictorBjelkholm commented on #344
Notes from today:

# Sprint CI - Standup 2017-02-06

## lgierth
### done
- got ssl certificates!
### working on
- gonna upload to jenkins host
- help out with orbit.chat
### blockers
- none
### questions

## Kubuxu
### done
- go-ipfs tests are running successful!
- added docker plugin
### working on
- artifacts/coverage
- tests crashing for some reasons sometimes
### blockers
- study for exams
###

[2017-02-06 16:18] haadcode commented on #377
I won't make the calls tonight (might be able to listen in). Here's a mid-sprint update for the Orbit sprint:
- All the sprint goals https://github.com/ipfs/pm/issues/345#issue-200908573
- We're making good progress on all goals
- Started moving orbit* repos to https://github.com/orbitdb
  - https://github.com/orbitdb/orbit-web
  - https://github.com/orbitdb/orbit-electron
  - The main orbit repo,

[2017-02-06 17:23] flyingzumwalt opened #421 "Choose name for repo to track "browser integrations" endeavor"

[2017-02-06 17:37] dignifiedquire commented on #421
- `are-we-browser-yet`
- `are-we-in-the-browser-yet`

[2017-02-06 17:40] Kubuxu commented on #421
+1 for that

It is convention that Mozilla uses benchmarks and different compats: https://arewefastyet.com/

I would put ipfs somewhere there.

[2017-02-06 17:42] dignifiedquire commented on #421
Yeah this was inspired by
- http://www.arewewebyet.org/
- https://areweideyet.com/

both of which are Rust projects

[2017-02-06 19:36] flyingzumwalt commented on #421
Additional options
* `native-in-browser`
* `browser-integrations`

[2017-02-06 19:38] lgierth commented on #421
- are-we-browser-yet is good
- otherwise: browser-ipfs, as in, ipfs in the browser environment, which has an intersection with js-ipfs, but is *not* the same